@font-face {font-family: "iconfont";
    src: url('../fonts/font_593094_orjcergf57ajdcxr.eot'); /* IE9*/
    src: url('../fonts/font_593094_orjcergf57ajdcxr.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/bfa2956ac57143f4a328f3606b453372.woff') format('woff'),
    url('../fonts/font_593094_orjcergf57ajdcxr.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/font_593094_orjcergf57ajdcxr.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-liulan:before { content: "\e605"; }

.icon-qq-copy:before { content: "\e658"; }

.icon-weibo-copy:before { content: "\e65a"; }

.icon-weixin-copy:before { content: "\e65b"; }

.icon-qq-copy-copy:before { content: "\e65c"; }



.mb-header{
    padding:30px 0;
    height:140px;
    background: url('../images/mb-bg.jpg') no-repeat 0 0;
    border-top:1px solid #eaeaea;
    border-bottom:1px solid #eaeaea;
}
.mb-container{
    width:1150px;
    margin-left:auto;
    margin-right: auto;
}

.mb-logo{

}
.mb-logo img{
    width:116px;
    height:116px;

}
.mb-logo p{
    margin-top:10px;
    color: #fff;
}
.mb-logo p .iconfont{
    position: relative;
    top:3px;
    margin-right:6px;
}

.mb-header-txt{
    width:650px;
    margin-left:30px;
}
.mb-header-title h1{
    display: inline-block;
    font-size:30px;
    font-weight:200;
    color: #333;
    margin-top:2px;
}
.mb-header-btn{
    position: relative;
    top:-4px;
    display: inline-block;
    font-size:12px;
    margin-left:10px;
    padding:5px 10px;
    border:1px solid #e56639;
    line-height:14px;
    background-color: #fff;
    color: #e56639;
}


.mb-header-txt p{
    font-size:14px;
    line-height:1.6;
    color: #444;
    margin-top:10px;
    max-height: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

}
a.mb-header-right-btn{
    display: inline-block;
    font-size:14px;
    padding:10px 15px;
    margin-top:10px;
    border:1px solid #b81c24;
    line-height:14px;
    background-color: #d01c24;
    color: #fff;
}
a.mb-header-right-btn:hover{
    background-color: #e61e27;
}
a.mb-header-right-btn-2,a.mb-header-right-btn-2:hover{
    background-color: #fff;
    color: #d01c24;
    margin-right:12px;
}

.mb-header-share{
    margin-top:20px;
}
.mb-header-share-item{
    float: left;
    position: relative;
}
.mb-header-share-item .icon-qq-copy{
    color: #febf3d;
}
.mb-header-share-item .icon-weibo-copy{
    color: #e4320e;
}
.mb-header-share-item .icon-weixin-copy{
    color: #6edb39
}
.mb-header-share-item .icon-qq-copy-copy{
    color: #1cbae5;
}
.mb-header-share .bdsharebuttonbox  a{
    position: relative;
    background: none;
    padding-left: 32px;
    line-height: 32px;
    height: 32px;
}
.mb-header-share .bdsharebuttonbox .iconfont{
    position: absolute;
    left:0;
    top:4px;
    z-index:0;
    font-size:32px;
}
.mb-heade-share-title{
    font-size:14px;
    line-height:44px;
    color: #666;
}
.mb-header-share .mb-header-share-item:hover .iconfont{
    opacity:0.8;
}

.mb-nav{
    height:50px;
    background-color: #fafafa;
    border-bottom:1px solid #eaeaea;
}
.mb-nav__item{
    display: inline-block;
    line-height:50px;
    padding: 0 30px;
}
.mb-nav__item.active,.mb-nav__item:hover{
    background-color: #fff;
    border-left:1px solid #eaeaea;
    border-right:1px solid #eaeaea;
}
.mb-nav__item a{
    display: block;
}
.mb-nav__item.active a,.mb-nav__item:hover a{
    color: #e56639;
}
.mb-main{
    width:840px;
    margin-top:50px;
    margin-bottom:50px;
    padding-bottom:50px;
}
.mb-side{
    width:240px;
    padding:20px;
    margin-top:-1px;
    margin-bottom:50px;
    background-color: #fcfcfc;
    border:1px solid #eaeaea;
}


.contact-title p{
    font-size:16px;
    font-weight: bold;
    color: #333;
    text-align: center;
}
.contact-info-hd{
    position: relative;
    padding-top:20px;
    margin-bottom:20px;
    border-bottom:1px solid #ddd;
}
.contact-info-hd span{
    position: absolute;
    display: inline-block;
    width:130px;
    left:50%;
    top:0;
    padding:10px;
    margin-left:-65px;
    background-color: #fcfcfc;
    font-size:14px;
    line-height:1.6;
    text-align: center;
    color: #999;
}
.contact-info-tel{
    padding:10px;
    text-align: center;
    font-size:25px;
    font-weight: 200;
    color: #e56639;
}

.contact-input{
    float: left;
    width:156px;
    margin:0;
    padding:5px 10px;
    border:1px solid #ccc;
    height:20px;
    line-height:20px;
}
.contact-textarea{
    float: left;
    width:156px;
    height:90px;
    margin:0;
    padding:5px 10px;
    font-size:14px;
    line-height:1.6;
    border:1px solid #ccc;
}
.contact-submit-btn{
    margin:5px 0 50px 62px;
    display: inline-block;
    width:60px;
    height: 34px;
    padding:0;
    line-height:34px;
    border:1px solid #cc4e21;
    background-color: #e56639;
    color: #fff;
    cursor: pointer;
}
.contact-info{
    margin-top:10px;
    font-size:15px;
}

.contact-info-item{
    padding:10px 0;
    line-height:1.65;
}
.contact-info-tel{

}

.contact-key{
    float: left;
    width:62px;
    line-height:32px;
    text-align: right;
    color: #888;
}
.contact-val{
    float: left;
    width:160px;
    font-style: normal;
    color: #444;
}

.contact-info-btn-area{
    padding-top:10px;
}
.contact-info-btn-area .contact-info-btn{
    display: inline-block;
    width:110px;
    height:36px;
    text-align: center;
    font-size:15px;
    line-height:36px;
    border:1px solid #e53935;
    color: #e53935;
    background-color: #fafafa;

}
.contact-info-btn-area .contact-info-btn:hover{
    background-color: #fff;
}
.contact-info-btn-area .contact-info-btn:first-child{
    border:1px solid #cc4e21;
    background-color: #e56639;
    color: #fff;
}
.contact-info-btn-area .contact-info-btn:first-child:hover{
    background-color: #fc6b3a;
}
.captcha-img{
    float: left;
    height:32px;
    width:78px;
    margin-left:10px;
    cursor: pointer;
}

.section-hd{
    position: relative;

}
.section-hd h2{
    padding-left:15px;
    font-size:16px;
    color: #e56639;
    font-weight: bold;
}
.section-hd h2:before{
    content: '';
    position: absolute;
    left:0;
    top:2px;
    width:3px;
    height:16px;
    background-color: #e56639;
}

.introduce{
    margin-top:40px;
}
.introduce .section-bd{
    margin-top:20px;
    text-align: justify;
}
.introduce .section-bd,.introduce .section-bd p,.introduce .section-bd p *{
    font-size: 14px !important;
    line-height: 1.8 !important;
    font-family: "Microsoft YaHei" !important;
    color: #666;
}
.introduce .section-bd img{
    max-width: 100%;
    width: auto !important;
    height: auto !important;
}

.introduce .section-bd table{
    width:100% !important;
}

.tp-archives-table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-spacing: 0;
    border-collapse: collapse
}

.tp-archives-table td {
    padding: 15px 20px;
    border: 1px solid #f3e1d5;
    word-break: break-all;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    background-color: #fff
}

.tp-archives-table td a {
    color: #666;
    margin-right: 10px;
    background: linear-gradient(90deg,#aaa 66%,transparent 0) repeat-x;
    background-size: .2em 1px;
    background-position: 0 18px
}

.tp-archives-table td a:hover {
    color: #e56639
}

.tp-archives-table .bg-warning,.product-table .bg-warning{
    background-color: #fbf6f4;
    color: #7d5c48
}

.tp-archives-table .text-success {
    color: #7dbf50;
    margin-right: 10px
}


.mb-product{
    margin-top:40px;
}
.mb-product .section-bd{

}
.product-table{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
    border-spacing: 0;
    border-collapse: collapse;
}
.product-table td,.product-table th{
    padding: 15px 10px;
    border: 1px solid #f3e1d5;
    word-break: break-all;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    background-color: #fff;
}
.product-table .view-btn{
    display: inline-block;
    padding:5px 10px;
    border:1px solid #eaeaea;
    background-color: #f4f4f4;
    color: #888;
}
.product-table .view-btn:hover{
    background-color: #fafafa;
}


.mb-news{
    margin-top:40px;
}

.mb-news-list{
    margin-top:20px;
}
.mb-news-list li{
    padding:15px 20px 15px 0;
    font-size:15px;
    border-bottom:1px dashed #eaeaea;
}
.mb-news-title{
    position: relative;
    float: left;
    text-indent:15px;
}
.mb-news-title:before{
    content: '';
    position: absolute;
    left:0;
    top:50%;
    width:3px;
    height:3px;
    margin-top:-1px;
    border-radius:50%;
    background-color: #e56639;
}
.mb-news-date{
    float: right;
    font-size:13px;
    color: #888;
}


.mb-recommend{
    margin-top:40px;
}
.mb-recommend .section-bd{
    margin-top:20px;
}
.mb-recommend-item{
    float: left;
    width:33.3%;
    position: relative;
    margin:10px 0;
    text-indent:15px;
    font-size:15px;
    line-height:1.5;
}
.mb-recommend-item:before{
    content: '';
    position: absolute;
    left:0;
    top:50%;
    width:3px;
    height:3px;
    border-radius: 50%;
    background-color: #e56639;
    margin-top:-1px;
}


.modal-close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2
}

.modal-close:focus,.modal-close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}

button.modal-close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0;
    border: 0
}


.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    font-family: "Microsoft YaHei"
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%)
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.3);
    box-shadow: 0 3px 9px rgba(0,0,0,.3)
}

.modal-content .no-authority {
    text-align: center
}

.modal-content .no-authority img {
    display: inline-block
}

.modal-content .no-authority p {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
    padding-bottom: 10px
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}

.modal-backdrop.in {
    filter: alpha(opacity=20);
    opacity: .2
}

.modal-header {
    min-height: 20px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    width: 30px;
    height: 30px;
    margin-top: -2px;
    background-color: #fff;
    border: 0;
    font-size: 18px;
    line-height: 30px
}

.modal-title {
    float: left;
    margin: 0;
    line-height: 1.42857143;
    font-size: 16px
}

.modal-body {
    position: relative;
    padding: 25px
}
.modal-body iframe{
    width:100%;
    height:400px;
    margin-top:-20px;
}
.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn {
    display: inline-block;
    padding: 8px 18px;
    margin: 0 12px;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 3px
}

.modal-footer .submit-btn {
    border: 1px solid #e56639;
    background-color: #e56639;
    color: #fff
}

.modal-footer .close-btn {
    border: 1px solid #eaeaea;
    background-color: #fff
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}


.product-detail-box {
    overflow: hidden;
}

.product-detail{
    margin-right: 40px;
}
.product-detail-img .bd {
    padding: 10px;
    width: 280px;
    border: 1px solid #eaeaea
}

.product-detail-img .bd li {
    position: relative
}

.product-detail-img .bd img {
    width: 280px;
    height: 210px
}

.product-detail-img .bd .iconfont {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    z-index: 11;
    font-size: 20px;
    border-radius: 50%
}

.product-detail-img .bd li:hover .iconfont {
    display: block
}

.product-detail-img .hd ul {
    margin-top: 15px
}

.product-detail-img .hd li {
    position: relative;
    margin-left: 13px;
    float: left;
    border: 1px solid #eaeaea;
    cursor: pointer
}

.product-detail-img .hd li.on:before {
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #e56639
}

.product-detail-img .hd li.on {
    border-color: #e56639
}

.product-detail-img .hd li:first-child {
    margin-left: 0
}

.product-detail-img .hd img {
    width: 80px;
    height: 60px;
    padding: 5px
}

.product-detail-info {
    width: 418px;
    margin-left: 30px;
}

.product-detail-title {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 200;
    line-height: 1.5
}



.product-detail-info-item {
    font-size: 16px;
    margin-bottom: 20px;
    padding-top: 5px;
    font-weight: 200
}

.product-detail-info-key {
    color: #888
}

.product-detail-info-val {
    color: #666;
    font-style: normal
}

.product-detail-info-val.text-danger {
    color: #b81c24
}

.product-detail-info-val a {
    padding: 2px;
    background: linear-gradient(90deg,#aaa 66%,transparent 0) repeat-x;
    background-size: .15em 1px;
    background-position: 0 23px
}

.product-detail-info-val .view-btn {
    display: inline-block;
    padding: 3px 12px;
    border: 1px solid #ccc;
    font-size: 12px;
    background: #fafafa;
    color: #888;
    border-radius: 20px
}

.product-detail-info-val .view-btn:hover {
    background-color: #e56639;
    border-color: #e56639;
    color: #fff
}

.product-detail-info-val .view-btn .iconfont {
    position: relative;
    top: 1px;
    margin-right: 3px;
    color: #888;
    font-size: 14px
}

.product-detail-info-val .view-btn:hover .iconfont {
    color: #fff
}

a.product-detail-info-btn {
    display: inline-block;
    margin-top: 8px;
    margin-right: 20px;
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid
}

a.product-detail-contact-btn {
    background-color: #e56639;
    color: #fff;
    border-color: #e56639
}

a.product-detail-contact-btn:hover {
    background-color: #ff7e50
}

a.product-detail-service-btn {
    border-color: #e56639;
    background-color: #fff6f3;
    color: #e56639
}

a.product-detail-service-btn:hover {
    background-color: #fff
}

a.product-detail-info-btn .iconfont {
    margin-right: 5px;
    font-weight: normal
}

.product-detail-head {
    margin-top: 20px;
    padding: 20px 5px;
    border-bottom: 1px solid #eaeaea
}

.product-detail-head strong {
    font-size: 20px;
    font-weight: bold
}

.product-detail-body {
    padding: 20px 0
}

.product-detail-body {
    font-size: 16px !important;
    line-height: 2;
    text-align: justify
}

.product-detail-body img {
    max-width: 100%;
    display: block;
    margin: 10px auto
}

.news-detail-title {
    padding: 25px 0 20px;
    font-size: 28px;
    font-weight: 200;
    line-height: 1.65;
    text-align: center
}

.news-detail-info {
    padding: 10px;
    background-color: #fafafa;
    font-size: 12px;
    color: #888;
    text-align: center
}

.news-detail-info span {
    margin: 0 10px
}

.news-detail-content {
    margin-top: 30px;
    line-height: 1.8
}


.relate-product .product-detail-body{
    float: left;
    position: relative;
    margin-left: -30px;
}
.tp-product-item {
    position: relative;
    top: 0;
    float: left;
    width: 202px;
    padding: 20px 20px;
    margin: 20px 0 10px 30px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
}



.tp-product-img,.tp-product-img img {
    display: block;
    width: 198px;
    height: 148px;
    overflow: hidden
}


.tp-product-title {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}


a.tp-product-btn {
    display: inline-block;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 18px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    border-radius: 3px;
    color: #888;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease
}

a.tp-product-btn:hover {
    background-color: #fff;
    border: 1px solid #e56639;
    color: #e56639;
    box-shadow: 1px 3px 0 rgba(0,0,0,0.05)
}

a.tp-product-btn:active {
    box-shadow: inset 1px 3px 2px rgba(0,0,0,0.05);
    background-color: #fafafa
}


.overflow{
    position: relative;
    overflow: hidden;
}
.overflow:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: -webkit-gradient(linear,0 0,0 bottom,from(rgba(255,255,255,0.4)),to(rgba(255,255,255,1)));
}
a.expand-btn{
    display: block;
    width:128px;
    height:32px;
    background-color: #fff;
    border:1px solid #e56639;
    color: #e56639;
    text-align: center;
    line-height:32px;
    font-size:14px;
    margin:10px auto;
    border-radius:20px;
}

.product-source{
    height: 36px;
    line-height: 36px;
    border: 1px dashed #eaeaea;
    margin-bottom: 12px;
}
.product-source-netword i{
    float: left;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 3px 5px 3px 8px;
    background-image: url(../images/data-type.png);
    background-repeat: no-repeat;
    background-position: 0 -30px;
}
.product-source-netword span{
    font-size: 15px;
    float: left;
    line-height: 36px;
    color: #e53935;
}
.product-source-cert i{
    background-position: 0 0;
}
.product-source-netword i{
    background-position: 0 -30px;
}
.product-info-param li.product-source span{
    font-size: 15px;
    float: left;
    line-height: 36px;
}
.product-source-cert span{
    color: #44b549;
}
.product-source-netword span{
    color: #e53935;
}


