/* ::::: http://fh010.top/cuiru/css/css.css ::::: */

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; }
body, div, fieldset, form, h1, h2, h3, h4, h5, h6, html, p { -moz-text-size-adjust: none; }
body { background: rgb(249, 249, 249) none repeat scroll 0% 0% !important; }
body, div, fieldset, form, h1, h2, h3, h4, h5, h6, html, p { -moz-text-size-adjust: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif; color: rgb(102, 102, 102); background: rgb(249, 249, 249) none repeat scroll 0% 0%; -moz-text-size-adjust: none; min-width: 320px; font-size: 16px; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }
a { text-decoration: none; color: rgb(26, 26, 26); }
a:active, a:focus, a:hover { color: rgb(57, 144, 230); text-decoration: none; }
a:active { color: rgb(170, 170, 170); }
img { vertical-align: middle; border: 0px none; }
.h_logo::after, .h_txt::after { content: ""; position: absolute; width: 1px; right: 0px; top: 0px; bottom: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.art_main_card { clear: both; text-align: justify; margin-bottom: 10px; font-size: 16px; padding: 0px 5%; line-height: 27px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(220, 220, 220); overflow: hidden; }
.art_main_card img { max-width: 100%; }
.art_main_card a { color: rgb(57, 144, 230); }
.art_title { clear: both; padding: 20px 0px; font-size: 21px; }
.art_title_h1 { line-height: 25px; font-weight: 700; padding-bottom: 12px; }
.art_title_op { clear: both; height: 14px; line-height: 14px; font-size: 16px; color: rgb(136, 136, 136); }
.art_title_op time { float: left; max-width: 180px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.art_title_op aside { float: right; font-size: 16px; color: rgb(57, 144, 230); line-height: 14px; }
.art_title_op aside .collection::before { position: absolute; left: 0px; top: 0px; }
.art_title_op aside .comment_num { display: inline-block; width: 14px; height: 14px; line-height: 14px; margin: 0px 5px 0px 0px; position: relative; }
.art_title_op aside .comment_num::before { position: absolute; top: 3px; }
.icon-page_comment_2::before { content: ""; }
.art_share_btn { margin: 20px 0px; }
.art_share_box li:nth-child(2) a { background: rgba(0, 0, 0, 0) url('../images/all_icon.png') no-repeat scroll -40px -129px / 114px auto; }
.art_share_box li:nth-child(3) a { background: rgba(0, 0, 0, 0) url('../images/all_icon.png') no-repeat scroll -80px -129px / 114px auto; }
.art_share_box li:nth-child(4) a { background: rgba(0, 0, 0, 0) url('../images/all_icon.png') no-repeat scroll 0px -129px / 114px auto; }
.M_attitude { padding: 0px; margin-top: 20px; }
.M_attitude mark { background: rgba(0, 0, 0, 0) none repeat scroll 0px center; }
.M_attitude .hide { display: none !important; }
.M_attitude .operate { position: relative; height: 40px; width: 90%; margin: 16px 0px 12px -45%; left: 50%; }
.M_attitude .hand { display: inline-block; width: 40px; height: 40px; border-radius: 50%; }
.M_attitude .p_act { position: relative; display: inline-block; overflow: hidden; font-size: 0px; margin: 0px; }
.M_attitude .p_act mark { position: relative; vertical-align: middle; font-size: 13px; background: rgba(0, 0, 0, 0) none repeat scroll 0px center; }
.M_attitude .p_act:last-child { position: absolute; right: 0px; }
.M_attitude .tread_num { position: relative; float: right; }
.M_attitude .tread { position: relative; float: right; }
.M_attitude .dig_num { display: inline-block; height: 40px; color: rgb(247, 75, 76); }
.M_attitude .dig_num span { display: block; padding: 0px 5px 0px 7px; line-height: 40px; text-align: center; }
.M_attitude .dig_num span:nth-of-type(2) { clear: both; position: absolute; top: 0px; }
.M_attitude .tread_num { display: inline-block; height: 40px; }
.M_attitude .tread_num span { display: block; padding: 0px 7px 0px 5px; line-height: 40px; text-align: center; color: rgb(57, 144, 230); }
.M_attitude .tread_num span:nth-of-type(2) { clear: both; position: absolute; top: 0px; }
.M_attitude .hand_pic { position: absolute; display: block; border-radius: 2em; }
.M_attitude .dig .hand_pic { background-color: rgb(247, 75, 76); }
.M_attitude .dig .hand_pic img { vertical-align: top; }
.M_attitude .tread .hand_pic { background-color: rgb(50, 111, 211); right: 0px; }
.M_attitude .hand_pic img { position: absolute; width: 100%; height: 100%; transition: scale 1s ease 0s; }
.M_attitude .p_describ { position: relative; min-height: 28px; }
.M_attitude .p_tip { position: absolute; text-align: center; margin: 0px; width: 100%; }
.M_attitude .tip { position: relative; display: inline-block; padding: 0px 10px 0px 29px; line-height: 26px; font-size: 12px; color: rgb(135, 135, 135); border: 1px solid rgb(220, 220, 220); border-radius: 2em; background-color: rgb(255, 255, 255); z-index: 1; }
.M_attitude .tip i { font-size: 16px; position: absolute; left: 10px; top: 6px; color: rgb(220, 220, 220); }
.M_attitude .p_bar { position: absolute; clear: both; top: 20px; left: 50%; }
.M_attitude .sub_bar { position: absolute; height: 2px; transition: width 1s ease 0s; }
.M_attitude .dig_bar { left: 0px; width: 0px; background-color: rgb(247, 75, 76); }
.M_attitude .tread_bar { right: 0px; width: 0px; background-color: rgb(40, 112, 214); }
.M_attitude .state { margin-top: 15px; padding: 10px; background-color: rgb(231, 244, 255); color: rgb(84, 84, 84); font-size: 12px; line-height: 14px; }
.M_attitude .p_txt { margin: 0px 3px; }
.M_attitude .txt_up { color: rgb(247, 75, 76); }
@media screen and (max-width: 375px) {
	.M_attitude .operate { height: 40px; }
	.M_attitude .hand { width: 40px; height: 40px; }
	.M_attitude .dig_num { height: 40px; }
	.M_attitude .dig_num span { line-height: 40px; }
	.M_attitude .tread_num { height: 40px; }
	.M_attitude .tread_num span { line-height: 40px; }
	.M_attitude .hand_pic { width: 40px; height: 40px; }
	.M_attitude .p_bar { top: 18px; }
}
@media screen and (min-width: 376px) {
	.M_attitude .operate { height: 50px; }
	.M_attitude .hand { width: 50px; height: 50px; }
	.M_attitude .dig_num { height: 50px; }
	.M_attitude .dig_num span { line-height: 50px; }
	.M_attitude .tread_num { height: 50px; }
	.M_attitude .tread_num span { line-height: 50px; }
	.M_attitude .hand_pic { width: 50px; height: 50px; }
	.M_attitude .p_bar { top: 23px; }
}
.M_attitude .p_bar { position: absolute; clear: both; top: 20px; left: 50%; }
.M_attitude .p_bar { top: 18px; }
.icon-page_check::before { content: ""; }
.popacity { transition: opacity 1s ease 0s; }
.input_wrap { clear: both; overflow: hidden; position: relative; }
.cmnt_article { clear: both; overflow: hidden; }
.cmnt_item { clear: both; overflow: hidden; padding: 0px 0px 12px 38px; border-bottom: 1px solid rgb(240, 240, 240); position: relative; }
.cmnt_item:last-child { border-bottom: medium none; }
.cmnt_top { clear: both; overflow: hidden; height: 30px; line-height: 30px; font-size: 13px; color: rgb(0, 160, 254); margin: 14px 0px -8px -38px; position: relative; }
.cmnt_top span:first-child { display: block; color: rgb(57, 144, 230); position: relative; padding-left: 38px; background: rgba(0, 0, 0, 0) url('../images/all.png') no-repeat scroll 0px -336px / 100px auto; }
.cmnt_top .cmnt_nick { display: block; height: 20px; line-height: 20px; font-style: normal; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.cmnt_top .cmnt_nick em { display: inline-block; font-size: 10px; color: rgb(170, 170, 170); margin-left: 4px; font-style: normal; }
.cmnt_top span img { position: absolute; left: 0px; top: 0px; width: 30px; height: 30px; border-radius: 15px; }
.cmnt_text { font-size: 15px; line-height: 20px; text-align: justify; color: rgb(51, 51, 51); padding: 2px 0px; word-break: break-all; overflow-wrap: break-word; margin-top: 2px; }
.cmnt_op_bottom { clear: both; font-size: 10px; margin-top: 8px; margin-bottom: 4px; position: relative; color: rgb(170, 170, 170); }
.cmnt_op_bottom_times { float: left; line-height: 16px; }
.cmnt_op { position: absolute; right: 0px; top: 0px; display: block; height: 16px; line-height: 16px; text-align: right; overflow: visible; }
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
.footer { clear: both; overflow: hidden; border-top: 1px solid rgb(223, 223, 223); text-align: center; padding: 15px 4px 10px; background: rgb(248, 248, 248) none repeat scroll 0% 0%; }
.footer_select::after { content: ""; display: block; position: absolute; top: 10px; right: 6px; width: 6px; height: 6px; border-right: 2px solid rgb(178, 178, 178); border-bottom: 2px solid rgb(178, 178, 178); border-left: medium none; transform: rotate(45deg); }
.cross b::before { content: ""; position: absolute; height: 12px; width: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; left: 8px; top: 3px; }
.cross b::after { content: ""; position: absolute; width: 12px; height: 2px; left: 3px; top: 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.footer_times { line-height: 40px; font-size: 12px; font-family: helvetica,arial,sans-serif; }
.daodu { font-size: 15px; line-height: 24px; margin: 12px 12px 25px; background-color: rgb(238, 238, 238); padding: 7px 5px 6px 10px; overflow-wrap: break-word; word-break: break-all; position: relative; }
.daodu p { max-height: 208px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; }
.divcss5 { text-align: center; }
.cl4 { color: rgb(51, 100, 247); font-size: 15px; }
.clear::after { content: ""; display: block; clear: both; }
.btn-submit { background-color: rgb(39, 134, 228); cursor: pointer; display: inline-block; box-sizing: border-box; border: 0px none; border-radius: 4px; width: 80px; height: 30px; font-size: 14px; text-align: center; color: rgb(255, 255, 255); }
#page_navigation { text-align: center; font-size: 16px; margin: 10px auto; }
#page_navigation a { color: rgb(51, 51, 51); padding: 0px 3px; cursor: pointer; }
#page_navigation a.ckgdd { color: rgb(39, 134, 228); }
.modal { position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1040; overflow: hidden; outline: 0px none; background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%; font-size: 16px; text-align: center; }
.modal-sm { width: 90%; margin: 100px auto; max-width: 400px; }
.modal-header { min-height: 16.43px; padding: 15px; border-bottom: 1px solid rgb(229, 229, 229); }
#mydel { position: absolute; width: 40px; height: 40px; line-height: 40px; right: -16px; top: 82px; background: rgba(0, 0, 0, 0.85) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-radius: 50px; font-family: Arial; font-size: 20px; font-weight: 100; text-align: center; text-indent: 0em !important; }
.modal-content { position: relative; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; outline: 0px none; box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5); }
.modal-body { position: relative; padding: 15px; }

#bottomNav { text-align: center; margin: 0px auto; z-index: 999; position: fixed; bottom: 0px; left: 0px; width: 100%; overflow: visible; background-color: rgb(255, 255, 255); font-size: 17px; }
#bottomNav div { width: 100%; text-align: center; margin: 0px auto; }
#bottomNav td img { float: none; }
#bottomNav font { color: rgb(255, 255, 255); background-color: rgb(255, 0, 0); font-size: 17px; }
#bottomNav table, td { border: 0px none; }

table { margin-bottom: 10px; border-collapse: collapse; display: table; width: 100% ! important; }
td, th { overflow-wrap: break-word; word-break: break-all; padding: 5px 10px; border: 0px solid rgb(221, 221, 221); }
