*{
    padding: 0;
    margin: 0;
}
.content{
    /* padding: 1rem auto; */
    margin: 0.5rem 0.5rem;
}
.main-img{
    
}
img{
    width: 100%;
    height: 100%;
}

.float_qb dl,.float_qb dd,.float_qb p{ margin:0; padding:0; list-style:none; text-align:left}
.float_qb{ position:fixed; z-index:1000; bottom:0; width:100%; left:0; background:#fcfcfc; padding:5px 10px; line-height:22px; color:#000; font-weight:normal; border:#eee 1px solid; box-sizing:border-box; font-size:14px;}
.float_qb h5{ font-weight:bold; font-size:16PX;}
.float_qb dt{ float:left; width:40px; margin-right:10px;}
.float_qb dt img{ width:100%;}
.float_qb dd{ overflow:hidden;}
.float_qb dd span{ background:#F00; color:#fff; font-weight:bold; padding:0 5px; font-weight:bold; font-size:20px;}