.modal {
	background: rgba(0, 0, 0, 0.3); outline: 0px; left: 0px; top: 0px; text-align: center; right: 0px; bottom: 0px; overflow: hidden; font-size: 16px; position: fixed; z-index: 1040; -webkit-overflow-scrolling: touch;
}
.modal-sm {
	margin: 50% auto; width: 90%; max-width: 400px;
}
.modal-header {
	padding: 15px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid; min-height: 16.43px;
}
#mydel {
	background: rgba(0, 0, 0, 0.85); 
	z-index: 999;
	border-radius: 50px; 
	top: 6rem; 
	width: 40px; height: 40px; 
	text-align: center; 
	right: -16px; color: rgb(255, 255, 255); 
	line-height: 40px; 
	font-family: Arial; 
	font-size: 20px; 
	font-weight: 100; 
	position: absolute;
}
.modal-content {
	outline: 0px; 
	border-radius: 6%; 
	border: 1px solid rgba(0, 0, 0, 0.2); 
	border-image: none; position: relative;
	box-shadow: 0px 3px 9px rgba(0,0,0,0.5); 
	background-clip: padding-box; 
	background-color: rgb(255, 255, 255);
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-body {
	padding: 15px; position: relative;
}
