* {
  line-height: 1;
}
table[align="center"] {
    margin: 0 auto;
}
strong {
    font-weight: bold;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
body {
  font-family: "Pingfang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑","宋体",Arial,Verdana,sans-serif;
}
.page {
  width: 100%;
}
.navigation {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 70px;
  box-shadow: 0px 1px 2px 0px rgba(64,46,50,0.05);
}
.navigation .content {
  margin: 0 auto;
  max-width: 1366px;
  height: 100%;
}
.navigation .content .logo {
  float: left;
  margin-left: 44px;
  margin-top: 11px;
  width: 100px;
  height: 48px;
  display: block;
}
.navigation .content .nav {
  margin-right: 48px;
  float: right;
}
.navigation .content .nav .list {
  white-space: nowrap;
}
.navigation .content .nav .list .cell {
  padding-top: 1px;
  position: relative;
  display: inline-block;
  margin-left: 30px;
  height: 69px;
}
.navigation .content .nav .list .cell .title {
  display: block;
  margin-top: 27px;
  /*height: 70px;
  line-height: 70px;*/
  font-size: 14px;
  color: #686868;
}
.navigation .content .nav .list .cell:hover .title {
  color: #212121;
}
.navigation .content .nav .list .cell.active .title {
  padding-bottom: 2px;
  color: rgba(255,87,26,1);
  cursor: pointer;
  border-bottom: 1px solid;
}
.navigation .content .nav .list .cell .secondList {
  display: none;
  position: absolute;
  top: 56px;
  left: 50%;
  margin-left: -50.5px;
  /*width: 96px;*/
    min-width: 96px;
    width: auto;
  /*max-height: 174px;*/
  background-color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
    padding: 0 5px;
}
.navigation .content .nav .list .cell:hover .secondList {
  display: block;
}
.navigation .content .nav .list .cell .secondList .subCell {
  width:100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.navigation .content .nav .list .cell .secondList .subCell a {
  color: #686868;
}
.navigation .content .nav .list .cell .secondList .subCell:hover {
  background:rgba(218,128,39,0.1);
}
.navigation .content .nav .list .cell .secondList .subCell:hover a {
  color: #212121;
}
.footer {
    margin-top: 20px;
  position: relative;
  width: 100%;
  height: 243px;
  background-color: #4D4B48;
}
.footer .content {
  margin: 0 auto;
  max-width: 1366px;
  height: 100%;
  overflow: hidden;
}
.footer .content .inner {
  height: 182px;
  overflow: hidden;
}
.footer .content .inner .list {
  float: left;
  margin-top: 82px;
  margin-left: 373px;
  white-space: nowrap;
}
.footer .content .inner .list li {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
  line-height: 20px;
}
.footer .content .inner .list li a {
  color: #FFFFFF;
}
.footer .content .inner .ewm {
  margin-top: 35px;
  float: right;
  margin-right: 271px;
  width: 242px;
  overflow: hidden;
}
.footer .content .inner .ewm .cell {
  float: left;
  width: 80px;
  overflow: hidden;
}
.footer .content .inner .ewm .cell:first-child {
  margin-right: 60px;
}
.footer .content .inner .ewm .cell p {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  text-align: center;
}
.footer .content .inner .ewm .cell img {
  margin-top: 6px;
  width: 100%;
  height: 80px;
  display: block;
  background-color: #ccc;
}
.footer .content .record {
  position: absolute;
  width: 1120px;
  height: 60px;
  bottom: 0;
  left: 50%;
  margin-left: -560px;
  border-top: 1px solid rgba(255,255,255,.1);
}
.footer .content .record p {
  line-height: 60px;
  text-align: center;
  color: #fff;
  opacity: .75;
}
.footer .content .record p img {
  vertical-align: middle;
}
.filterItem {
  height: 38px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  position: relative;
  z-index: 99;
}
.filterItem i {
  width: 16px;
  height: 8px;
  display: block;
  background: url(../images/bottom-arrow-icon.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
}
.filterItem .selected {
  position: relative;
  width: 100%;
  height: 38px;
}
.filterItem .selected p {
  margin-left: 15px;
  font-size: 16px;
  color: #4D3016;
  line-height: 38px;
}
.filterItem .relativedList {
  display: none;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  margin-top: 1px;
}
.filterItem .relativedList .listCell {
  height: 38px;
  padding-left: 15px;
  color: #4D3016;
  font-size: 16px;
  cursor: pointer;
}
.filterItem .relativedList .listCell.active {
  color: #FF571A;
}
.filterItem .relativedList .listCell:hover {
  background-color: #f8f8f8;
}
.filterItem .relativedList .listCell p {
  line-height: 38px;
}
.returnTop {
  display: none;
  position: fixed;
  z-index: 999;
  //bottom: 313px;
  bottom: 30px;
  right: 15px;
  width: 80px;
  height: 50px;
  cursor: pointer;
  background: url(../images/return-top.png) no-repeat;
  background-size: 28px 16px;
  background-position: center center;
  background-color:rgba(255,255,255,1);
  box-shadow:5px 10px 30px 0px rgba(0,0,0,0.1);
  border-radius:10px;
}
.mediaPopLayer {
  width: 640px;
  height: 360px;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -320px;
}
.mediaPopLayer video {
  width: 100%;
  height: 100%;
}



    .lianxiFixed {
        position: fixed;
        z-index: 500;
        right: 5px;
        bottom: 45px;
    }

        .lianxiFixed a {
            display: block;
            width: 54px;
            height: 54px;
            margin-bottom: 1px;
            position: relative;
            cursor: pointer;
        }

            .lianxiFixed a b {
                display: block;
                position: relative;
                width: 54px;
                height: 54px;
                overflow: hidden;
            }

            .lianxiFixed a i {
                display: block;
                height: 54px;
                width: 108px;
                position: absolute;
                left: 0px;
                top: 0px;
                background-repeat: no-repeat;
                background-image: url(../images/shangqiao.jpg);
            }

            .lianxiFixed a.a1 i {
                background-position: 0px 0px;
            }

            .lianxiFixed a.a2 i {
                background-position: 0px -55px;
            }

            .lianxiFixed a.a3 i {
                background-position: 0px -110px;
            }

            .lianxiFixed a.a4 i {
                background-position: 0px -56px;
            }

            .lianxiFixed a.a5 i {
                background-position: 0px -112px;
            }

            .lianxiFixed a img {
                width: 133px;
                height: 133px;
                padding: 5px;
                background: #fff;
                position: absolute;
                top: 0px;
                right: 100%;
                border: 1px solid #eee;
                display: none;
            }

            .lianxiFixed a:hover img {
                display: block;
            }

        .lianxiFixed u {
            display: block;
            position: absolute;
            width: 13px;
            height: 18px;
            background: #fff;
            text-align: center;
            line-height: 18px;
            top: -13px;
            right: 0px;
            font-size: 12px;
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            left: 0px;
            top: 100%;
            background: #efefed;
            border: 1px solid #bdbdbd;
            width: 52px;
            color: #65646a;
            font-weight: bold;
        }

        .lianxiFixed em {
            display: block;
            width: 15px;
            text-align: center;
            font-size: 12px;
            color: #610000;
            background: #fae60a;
            border-radius: 5px 0px 0px 5px;
            position: fixed;
            bottom: 250px;
            right: 0px;
            position: fixed;
            font-style: normal;
            cursor: pointer;
            padding: 3px 0px;
            display: none;
        }

        .lianxiFixed.showdyt em {
            display: block;
        }

        .lianxiFixed.showdyt a {
            display: none;
        }

        .lianxiFixed.showdyt u {
            display: none;
        }

    #BDBridgeIconWrap {
        overflow: hidden;
        max-width: 0px;
        max-height: 0px;
    }

    #bdbridge-left-close {
        max-width: 0px;
    }
    #qiao-wrap, #qiao-flash-storage{display:block !important;}
    #qiao-icon-group0{position:fixed !important; top:auto !important; bottom:211px; padding:0px !important; width:54px !important; height:110px !important; left:auto !important; right:5px; z-index:100; overflow:hidden;opacity:0 !important; filter:alpha(opacity=0); -moz-opacity:0;  -khtml-opacity:0;}
    #qiao-icon-wrap{top:-900px !important;}

.pagination {
  margin-bottom: 20px;
  //display: inline-block;
  text-align: center;
}
.pagination li {
  width: 28px;
  height: 28px;
  border-radius: 2px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  margin-right: 4px;
  font-size:14px;
  color:rgba(104,104,104,1);
  background-color: #fff;
  border: 1px solid #E0E0E0;
}
.pagination li:hover {
  color: #FF671A;
  border-color: #FF671A;
}
.pagination li.disabled {
  border-color: #ddd;
  color: #ddd;
}
.pagination li.disabled a {
  color: #ddd;
}
.pagination li.active {
  background-color: #FF671A;
  border-color: #FF671A;
  color: #fff;
}
.pagination li:last-child {
  margin-right: 0;
}
.errorMain {
  margin: 0 auto;
  width: 1064px;
  height: 566px;
  background: url(../images/404.png) no-repeat right bottom;
  background-size: 700px 404px;
  overflow: hidden;
}
.errorMain .errorLogo {
  margin-top: 122px;
  width: 71px;
  height: 34px;
  overflow: hidden;
}
.errorMain .errorLogo img {
  width: 100%;
  display: block;
}
.errorMain .title {
  margin-top: 20px;
  font-size: 28px;
  height: 28px;
  line-height: 28px;
  color: #643E1D;
}
.errorMain .tips {
  margin-top: 20px;
  font-size: 18px;
  height: 18px;
  line-height: 18px;
  color: #A28B77;
}
.errorMain .btn {
  display: block;
  margin-top: 40px;
  width: 260px;
  height: 50px;
  border-radius: 25px;
  background-color: #FF671A;
  overflow: hidden;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.errorMain .returnHp {
  margin-top: 20px;
  font-size: 16px;
  height: 18px;
  line-height: 18px;
  color: #A28B77;
}
.errorMain .returnHp .time {
  margin: 0 4px;
  color: #6B5E61;
}

