@charset "utf-8";
html{font-family:sans-serif;}
html,body,header,section,footer,ul,ol,li,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{margin:0;border:0;padding:0;font-style:normal;color:#555;}
html,body{min-height:100%;-webkit-touch-callout:none;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none;background-color:#fff;font-size:12px;font-family:'Microsoft YaHei'}
nav,article,aside,details,main,header,footer,section,fieldset,figcaption,figure{display:block;}
a,button,em,del,strong,var,label,cite,small,time,mark,code,textarea{display:inline-block;}
header,section,footer{position:relative;}
ol,ul{list-style:none;}
input,button,textarea,select{border:0;margin:0;padding:0;font-size:12px;outline:none;resize:none;font-family:'Microsoft YaHei'}
span{display:inline-block;}
a:active,a:hover{outline:0;text-decoration:none;}
a,a:visited{text-decoration:none;}
label{word-wrap:break-word;word-break:break-all;}
td,th{padding:0;}
.wrapper{padding:40px 0 50px;}
.wrapper.n{padding-top:0}
.wrapper.nb{padding-bottom:0}
.clear{clear: both;}
.bgg{background-color:#3CC2A5;}
.bgw{background-color:#fff;}
.color{color:#3CC2A5;}

.back-icon{background:url('./icon-back.png') no-repeat center center;background-size:16px 16px;width:40px;height:40px;}
.lazy{background:url('../Images/loading.gif') no-repeat center center;background-size:30px;}


/* flex */
.flex{display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.cell{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;width:0;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%;display:block;}

/*header*/
header{background:#fff;}
header .logo{height: 40px;z-index: 999;margin-left: 20px;}
header .logo img{height: 30px;margin-top: 5px;}
header .tel img{width: 90%;margin-left: 5%;vertical-align:middle;margin-top: 25px;}


/*icons*/
.icons a{display:block;text-align:center;padding:10px 0;border-width:0 0 1px 0;-webkit-border-image:url('../Images/line1.gif') 2 0 repeat;-o-border-image:url('../Images/icos/line1.gif') 2 0 repeat;border-image:url('../Images/icos/line1.gif') 2 0 repeat;}
.icons a i{display:block;text-align:center;height:40px;margin-bottom:5px;}
.icons a i.home{background:url('../Images/home.png') no-repeat center center;background-size:40px;}
.icons a i.about{background:url('../Images/about.png') no-repeat center center;background-size:40px;}
.icons a i.product{background:url('../Images/product.png') no-repeat center center;background-size:40px;}
.icons a i.news{background:url('../Images/news.png') no-repeat center center;background-size:40px;}
.icons a i.djkcy{background:url('../Images/djkcy.png') no-repeat center center;background-size:41px;}
.icons a i.yxfw{background:url('../Images/yxfw.png') no-repeat center center;background-size:40px;}
.icons a i.tzzgx{background:url('../Images/tzzgx.png') no-repeat center center;background-size:41px;}
.icons a i.zyfz{background:url('../Images/zyfz.png') no-repeat center center;background-size:41px;}

/*navigate*/

.fixed{width:100%;height:40px;line-height:40px;z-index:10;background:#42929d;}
.page-name{position:relative;color:#fff;font-size:16px;padding-left:10px;z-index: 20;}
.page-name:before{content:'';height:20px;width:1px;border-left:1px solid #fff;-webkit-transform:scaleX(.5);position:absolute;left:0;top:10px;}

/*section-title*/
.section-title{font-size: 18px;text-align: center;width: 100%;margin: 15px 0px;}
.section-title a{color:#42929d;border-bottom:2px solid;padding:10px;}
/* about-text */
.about-text{line-height:20px;color:#444;}
.about-text .pic{width: 130px;border: 0px solid;float: left;}
.about-text .pic img{width: 120px;}
.about-text .word{line-height: 1.5em;font-size: 12px;}
.about-text .word a{color: #42929d;}

/*more*/
a.more{display:block;height:40px;line-height:40px;text-align:center;color: #42929d;}

/*news-list*/
.news-list a{padding:20px 10px;border-width:0 0 1px 0;-webkit-border-image:url('../Images/line1.gif') 2 0 repeat;-o-border-image:url('../Images/line1.gif') 2 0 repeat;border-image:url('../Images/line1.gif') 2 0 repeat;}
.news-list a img{width:70px;height:70px;border-radius:1000px;border:2px solid #eee;}
.news-list a .info{margin-left:10px;}
.news-list a .info h4{color:#333;font-size:13px;width:100%;height:20px;line-height:20px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;text-align: left;}
.news-list a .info p{color:#aaa;height:36px;line-height:18px;overflow:hidden;text-align: left;}
/*footer*/
footer{position:fixed;z-index:200;bottom:0;left:0;right:0;height:60px;padding:0;background:#42929d;}
footer a{display:block;text-align:center;}
footer a i{display:block;text-align:center;height:30px;margin-top:3px;}
footer a i.home{background:url('./shouye.png') no-repeat center center;background-size:25px;}
footer a i.about{background:url('./gy.png') no-repeat center center;background-size:25px;}
footer a i.contact{background:url('./caidan.png') no-repeat center center;background-size:25px;}
footer a i.service{background:url('./liuyan.png') no-repeat center center;background-size:25px;}
footer a span{color:#fff;}

/*section-title*/
h3.section-title{border-top:2px solid #4579BA;font-size:14px;padding:5px 0;width:100px;text-align:right;margin:10px 10px;}

/*more*/
a.more{display:block;height:40px;line-height:40px;text-align:center;}

/*page-detail*/
.page-detail{padding:10px;line-height:22px;font-size:14px;}

.page-detail img{display: block;width:98%;margin: 0 auto;}

/*page-title*/
h1.page-title{font-size:22px;padding:20px 10px 10px;color:#1F7BC9;line-height:30px;}

/**/
.page-info{color:#aaa;padding:0 10px 10px}

/*page-label*/
.page-label{padding:20px 10px;text-align:right;color:#aaa;}
.page-label a{color:#1F7BC9}

/*page-prev*/
.page-prev{line-height: 20px;}
.page-prev a{display:block;/*padding:10px 10px;*/}

/*sub-title*/
.sub-title{border-width:0 0 1px 0;-webkit-border-image:url('../Images/line1.gif') 2 0 repeat;-o-border-image:url('../Images/line1.gif') 2 0 repeat;border-image:url('../Images/line1.gif') 2 0 repeat;border-bottom: 1px solid #ddd;height: 40px;overflow: hidden;}
.sub-title a{text-align:center;height:40px;line-height:40px;position:relative;}
.sub-title a:before{content:'';height:20px;width:1px;border-left:1px solid #ddd;-webkit-transform:scaleX(.5);position:absolute;left:0;top:10px;}
.sub-title a:first-of-type:before{border-left:none}
.sub-title a.active{color:#42929d;font-size:13px;font-weight:bold;}

/*分页*/
.pagination{text-align:right;padding:10px 0 10px;font-size:12px;margin:0px 20px;}
.pagination ul{padding:0 0;}
.pagination ul li{float:left;}
.pagination ul li a{color:#222;margin-left:5px;padding:0px 7px;font-size:12px;}
.pagination ul li a:hover{text-decoration:none;background:#fff}
.pagination ul li.active a{color:#DA2E1C;font-weight:bold;margin-left:5px;}
.wrap{margin: 0px 10px;}
.articleHeader{font-weight:bold;padding:10px 10px 10px;text-align:center;font-size:22px;color:#333;font-weight:normal;}
.articleInfo{color:#999;text-align:center;}

/*feed*/
.feedFormBox{padding:0;position:relative;}
.feedFormBox .feedSuccess{display:none;background:#42929d;position:absolute;font-size:16px;color:#fff;left:0;top:0;width:100%;padding:10px 0px;height:30px;line-height:30px;}
.feedFormBox form{padding:20px 0px;}
.feedFormBox .formRow{padding:5px 0;overflow:hidden;}
.feedFormBox .formRow .title{line-height:28px;overflow:hidden;display:block;padding-right:5px;float:left;width:20%;text-align:right;padding-right:10px;}
.feedFormBox .formRow input{border:1px solid #eee;background:#fff;width:200px;height:28px;line-height:28px;font-size:12px;}
.feedFormBox .formRow select{border:1px solid #eee;background:#fff;width:200px;height:28px;line-height:28px;font-size:12px;}
.feedFormBox .formRow textarea{border:1px solid #eee;background:#fff;width:200px;height:80px;line-height:28px;font-size:12px;}
.feedFormBox .formRow input:focus,.messagePannel .formRow textarea:focus{border-color:#DA2E1C}
.feedFormBox .formRow span.tip{color:#f00;padding-left:10px}
.feedFormBox .formRow span.red{color:#f00;padding-right:10px}
.feedFormBox .formRow .feedSubmit{background:#42929d;border:none;color:#fff;padding:6px 30px;cursor:pointer;}
.feedFormBox .formRow .feedSubmit:hover{background:#444;}
.feedFormBox .formRow .feedSubmit:disabled,.feedFormBox .formRow .feedSubmit.disabled{background:#DCDCDC;color:#aaa}

/*新闻列表*/
ul.newsList{}
ul.newsList li{border-bottom:1px dotted #ddd;margin-bottom:10px;padding:10px 0;}
ul.newsList li a.title{border-left:5px solid #eee;color:#222;font-size:16px;font-weight:normal;padding:5px 10px;margin-bottom:10px;}
ul.newsList li a.title:hover{border-left:5px solid red;color:red;}
ul.newsList li .shortDetail{line-height:20px;color:#777;overflow:hidden;text-indent:2em;}
ul.newsList li .shortDetail .img{padding-right: 10px;}
ul.newsList li .shortDetail .img img{width: 100px;margin-left: -45px;}
ul.newsList li .shortDetail .neir{}
ul.newsList li .shortDetail span{color:#999}

/*product-cate*/
ul.product-cate{overflow:hidden;}
ul.product-cate li{float:left;width:46%;margin-left: 3%;margin-top: 10px;}
ul.product-cate li .img{/*padding:10px*/}
ul.product-cate li .bt{width: 100%;height: 28px;text-align: center;background:url('../Images/jchgbg.png') no-repeat 0 center;line-height: 28px;color: #fff;position: relative;margin-top: -28px;z-index:9;}
/*产品列表*/
ul.productsList{}
ul.productsList li{float:left;margin:0px 1%;margin-bottom:10px;width:48%;overflow:hidden;}
ul.productsList li.last{margin-right:0;}
ul.productsList li a img{border:1px solid #eee;padding:2%;width:94%;}
ul.productsList li a .name{color:#333;height:30px;line-height:30px;text-align:center;font-size:14px;display:block;width:200px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
ul.productsList li a:hover img{}
ul.productsList li a:hover .name{color:#BC6100;text-decoration:underline;}
ul.productsList li dt{width: 100%;height: 30px;line-height: 30px;text-align: center;overflow: hidden;}

.wrap{margin: 0px 10px;}
.wrap .arttitle{font-weight:bold;padding:10px 10px 10px;text-align:center;font-size:22px;color:#333;font-weight:normal;}
.wrap .info{color:#999;text-align:center;line-height:22px;}
.wrap .MyContent{line-height:22px;font-size: 14px;}

/* 个人中心 */
.user-index{background:#eee;}
.user-index a{display:block;padding:0 10px;height:40px;line-height:40px;margin-top:10px;background:#fff}
.user-index a:first-of-type{margin-top:0;}
.user-index a .i{width:20px;}
/*account-form*/
.account-form .row{border-top:1px solid #eee;padding:5px 5px;}
.account-form .row:first-of-type{border-top:none;}
.account-form .row .title{font-size:16px;width:100px;display:block;text-align:right;line-height:40px;height:40px;color:#555;}
.account-form .row .title span.red{color:#f00;}
.account-form .row .input-box{height:40px;line-height:40px;}
.account-form .row .input-box input.input,.account-form .row .input-box textarea{width:100%;padding:0;border:none;background:none;height:40px;}
.account-form .row button.get-verify{width:100px;height:35px;line-height:35px;border-radius:2px;background:#fff;border:1px solid #eee;}
.account-form .row button.get-verify.disabled,.account-form .row button.get-verify:disabled{background:#ccc;color:#aaa;text-shadow:1px 1px 1px #fff;}
.account-form .login-btn button,.account-form .reg-btn button,.account-form .find-pass-btn button,.account-form .reset-pass-btn button{margin:0 auto;display:block;margin:10px auto;width:98%;border:none;background:#740100;border-radius:2px;text-align:center;color:#fff;font-size:20px;height:40px;line-height:40px;}
/*.account-form .login-btn button.disabled,.account-form .login-btn button:disabled,.account-form .reg-btn button.disabled,.account-form .reg-btn button:disabled,.account-form .find-pass-btn button.disabled,.account-form .find-pass-btn button:disabled,.account-form .reset-pass-btn button.disabled,.account-form .reset-pass-btn button:disabled{background:#ccc;color:#aaa;text-shadow:1px 1px 1px #fff;}*/
.account-form a.find-pass-btn{display:block;border:1px solid #eee;border-radius:2px;text-align:left;color:#444;padding:10px;margin:10px 5px;}
.account-form.user .row .grid{line-height:40px;}
.account-form.user .row .grid select{width:100%;height:40px;line-height:40px;border-radius:2px;margin:0 1px;border:1px solid #ddd;}
.account-form.user .row .grid input.input,.account-form.user .row .grid textarea{width:96%;padding:0 2%;border:1px solid #ddd;background:none;height:40px;border-radius:2px;}
.account-form.user .row .grid a{color:#FF7200;}
.account-form.c .row.l.b{text-align:center;padding:10px 5px}
.account-form.c .row.l.b a{background:#f60;display:block;color:#fff;height:40px;line-height:40px;border-radius:2px;}
.account-form.c .row.l.b a:first-of-type{margin-right:1px;}


.pageDetail table{border-spacing: 0;width: 100%;margin: 0px auto;text-align: center;border: 1px solid #ddd;border-collapse: separate;border-radius: 4px;}
.pageDetail tr{border: 1px solid;}
.pageDetail td{border-top: 1px solid #ddd;line-height: 30px;vertical-align: top;font-size: 12px;}
.pageDetail th{line-height: 30px;vertical-align: top;background: #ddd;font-size: 12px;text-align: center;}
.pageDetail td a{color: red}

.kong{height: 80px;}

/*mapContent*/
#mapContent{margin-top:20px;}
.contact-ride{margin:0 auto;padding:5px 10px;border:1px solid #aaa;background:#fff;text-align:left;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.contact-ride h4{font-size:14px;color:#40B290;font-weight:normal;}
.contact-ride p{font-size:12px;}


