body { font: 14px;font-family:"微软雅黑","新宋体",sans-serif; margin: 0px auto; color: rgb(51, 51, 51); min-width: 320px; max-width: 640px; background-color: rgb(255, 255, 255); }
body * { box-sizing: inherit; }
p { margin: 0px; padding: 0px; }
a { text-decoration: none; }
img { max-width: 100%; }
.swiper-container { margin: 0px auto; overflow: hidden; position: relative; z-index: 1; }
.swiper-wrapper { width: 100%; height: 100%; display: flex; position: relative; z-index: 1; transition-property: -moz-transform; box-sizing: content-box; }
.swiper-wrapper { transform: translate3d(0px, 0px, 0px); }
.swiper-slide { flex: 0 0 auto; width: 100%; height: 100%; position: relative; }
.swiper-button-next { background-position: center center; top: 50%; width: 27px; height: 44px; margin-top: -22px; position: absolute; z-index: 10; cursor: pointer; background-repeat: no-repeat; background-size: 27px 44px; }
.swiper-button-prev { background-position: center center; top: 50%; width: 27px; height: 44px; margin-top: -22px; position: absolute; z-index: 10; cursor: pointer; background-repeat: no-repeat; background-size: 27px 44px; }
.swiper-button-prev { left: 10px; right: auto; background-image: url(""); }
.swiper-button-next { left: auto; right: 10px; background-image: url(""); }
.swiper-lazy-preloader::after { background-position: 50% center; width: 100%; height: 100%; display: block; content: ""; background-image: url( "background-repeat: no-repeat; background-size: 100% auto;") }
.swiper-lazy-preloader-white::after { background-image: url(); }
.change .tips { height: 4rem; line-height: 4rem; text-align: right; font-size: 0.8rem; margin-right: 0.8rem; color: rgb(153, 153, 153); }
.change .prev { margin-left: 0.8rem; }
.change .first { height: 14.2rem; position: absolute; left: 0px; top: 0px; background: transparent none repeat scroll 0% 0%; width: 100%; }
.change .first p { text-align: center; }
.change .first p:nth-of-type(1) { color: rgb(100, 170, 255); margin-top: -1.3rem; }
.change .first p:nth-of-type(2) { color: rgb(255, 103, 154); margin-top: 0.3rem; }
.change .first h3 { text-align: center; margin-top: 0.7rem; font-weight: bold; }
.change .first a { color: rgb(100, 170, 255); font-size: 0.7rem; text-align: center; display: inline-block; margin-top: 1.1rem; }
.change .first #submit_btn { background: rgb(255, 103, 154) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 0.9rem; padding: 0.4rem 3rem; border-bottom: medium none; border-radius: 0.4rem; }
.change #case .first ul { padding: 0.8rem 0px 1rem 6%; }
.change #case .first li { float: left; width: 27%; margin-right: 6%; background: rgb(255, 141, 179) none repeat scroll 0% 0%; text-align: center; padding: 0.4rem 0px; font-size: 0.9rem; color: rgb(255, 255, 255); border-radius: 0.3rem; }
.change #second { padding: 0px 5% ! important; }
.change #second li { width: 26% ! important; margin-left: 7% ! important; margin-right: 0px ! important; margin-top: 1rem ! important; }
.change #case #third ul { padding: 0.3rem 6% 0.3rem; }
.change #case #third li { width: 70%; margin: 0px auto 0.3rem; float: inherit; text-align: left; padding-left: 0.7rem; box-sizing: border-box; }
.change #case #third .tips {height: 2rem;line-height: 2rem;text-align: right;font-size: 0.8rem;margin-right: 0.8rem;color: rgb(153, 153, 153);}
.change #case #third h3 { text-align: left; padding-left: 5rem; }
.clf::before, .clf::after { content: ""; display: table; }
.clf::after { clear: both; }
.clf {  }
#case { margin-top: 1rem; }
#case p { font-size: 0.95rem; line-height: 1.4rem; }
#case #swiper_container { padding: 0px 1rem; }


#Mask { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.75) none repeat scroll 0% 0%; z-index: 9990; display: none; }
#Mask .pr { position: absolute; left: 50%; top:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); width:94%; margin:0 auto; max-width:350px;}
#Mask a {position:absolute; bottom:1rem; top:auto;}
#Mask .Mask_txt { position: absolute; left: 3.5rem; top: 2rem; font-size:16px; }
#Mask .Mask_txt h3 { font-weight: bold; margin-bottom: 0.6rem; }
#Mask .Mask_txt p:nth-of-type(1) { margin-bottom: 0.6rem; }
#Mask .close_Mask { width: 3rem; height: 3rem; position: absolute; right: 0px; top:0; }
#comment { display: none; padding: 0px 1rem; }
#comment li { padding-bottom: 1.1rem; border-bottom: 2px solid rgb(242, 242, 242); margin-top: 1.1rem; }
#comment .user_Info img { width: 12%; }
#comment .user_Info span { font-weight: bold; margin-top: 0.7rem; margin-left: 0.6rem; }
#comment .user_txt p { font-size: 0.9rem; color: rgb(85, 85, 85); line-height: 1.4rem; margin-top: 0.8rem; }
#comment .user_Pic li:nth-of-type(1) { margin-left: 0px; }
.add_btn { width: 12rem; height: 3rem; position: absolute; left: 50%; margin-left:-6rem;top: 23rem; background: rgb(255, 103, 154) none repeat scroll 0% 0%; border-radius: 0.5rem; text-align: center; line-height: 3rem; color: rgb(255, 255, 255) ! important; font-size: 1.4rem; text-decoration: none ! important; }

#thumb { width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; z-index: 2147483647; display: none; }
#thumb .thumb_close { padding: 0.4rem; color: rgb(255, 255, 255); position: absolute; right: 0px; top: 3rem; font-size: 1.8rem; }
.depart { width: 100%; height: 0.4rem; background: rgb(242, 242, 242) none repeat scroll 0% 0%; }
.case_main { padding: 0px 1rem; }
.case_main p { color: rgb(0, 0, 0); }
.qq_Mask { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.75) none repeat scroll 0% 0%; z-index: 1000000000; display: none; }
.qq_Mask img { position: absolute; left: 0px; top: 6rem; }
.qq_Mask .Mask_txt { position: absolute; left: 4.2rem; top: 10.5rem; }
.qq_Mask .Mask_txt h3 { font-weight: bold; margin-bottom: 0.6rem; }
.qq_Mask .close_Mask { width: 3rem; height: 3rem; position: absolute; right: 0px; top: 6rem; }
.Link { color: rgb(102, 179, 255); text-decoration: underline; }
.Mask_wechat { background: rgb(255, 103, 154) none repeat scroll 0% 0%; padding: 0.5rem 0px 0.7rem; text-align: center; color: rgb(255, 255, 255); font-size: 1.6rem; width: 78%; margin: 0.6rem auto 0px; border-radius: 0.5rem; }