
@font-face {font-family: "iconfont";
  src: url('../other/font_mpbptemiitkb7qfr.eot?t=1493782030555'); /* IE9*/
  src: url('../other/font_mpbptemiitkb7qfr.eot?t=1493782030555#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../other/font_mpbptemiitkb7qfr.woff?t=1493782030555') format('woff'), /* chrome, firefox */
  url('../other/font_mpbptemiitkb7qfr.ttf?t=1493782030555') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../other/font_mpbptemiitkb7qfr.svg?t=1493782030555#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pinglun:before { content: "\e638"; }
.icon-shoucang:before { content: "\e62b"; }
.icon-zan:before { content: "\e601"; }
