<!DOCTYPE html>
<html lang="en" style="font-size: 23.4375px;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>营养师1对1指导丰胸</title>
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telphone=no">
	<meta name="renderer" content="webkit">
	<!-- uc强制竖屏 -->
	<meta name="screen-orientation" content="portrait">
	<!-- QQ强制竖屏 -->
	<meta name="x5-orientation" content="portrait">
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<!-- QQ强制全屏 -->
	<meta name="x5-fullscreen" content="true">
	<!-- UC应用模式 -->
	<meta name="browsermode" content="appl ication">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<script src="./yys_files/sdk"></script>
	<!-- <script type="text/javascript" async="" src="./yys_files/toutiao-track-log.js"></script> -->
	<!-- <script type="text/javascript" async="" src="./yys_files/toutiao-track-log.js(1)"></script> -->
	<script src="./yys_files/hm.js"></script>
	<script src="./yys_files/hm(1).js"></script>
	<script src="./yys_files/getpro.js"></script>

	<link rel="stylesheet" href="./yys_files/style.css">
	<link rel="stylesheet" href="./yys_files/swiper.min.css">
	<script type="text/javascript" src="./yys_files/jquery.min.js"></script>
	<script type="text/javascript" src="./yys_files/swiper.min.js"></script>
	<script type="text/javascript" src="./yys_files/js.js"></script>
	<!-- <script type="text/javascript">
		(function (root) {
			root._tt_config = true;
			var ta = document.createElement('script'); ta.type = 'text/javascript'; ta.async = true;
			ta.src = document.location.protocol + '//' + 's1.pstatp.com/bytecom/resource/track_log/src/toutiao-track-log.js';
			ta.onerror = function () {
				var request = new XMLHttpRequest();
				var web_url = window.encodeURIComponent(window.location.href);
				var js_url = ta.src;
				var url = '//ad.toutiao.com/link_monitor/cdn_failed?web_url=' + web_url + '&js_url=' + js_url + '&convert_id=1630324050401283';
				request.open('GET', url, true);
				request.send(null);
			}
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ta, s);
		})(window);
	</script> -->
	<script type="text/javascript">
		function myFunction() {
			// meteor.track("wechat", {convert_id: "1633472452374535"});
			window.location.href = 'weixin://';
		}
	</script>
	<script src="./yys_files/dy.php"></script>
  
  
  <!-- Bytedance Tracking --> 
  <!-- <script> (function(r,d,s,l){var meteor=r.meteor=r.meteor||[];meteor.methods=["track","off","on"];meteor.factory=function(method){return function(){ var args=Array.prototype.slice.call(arguments);args.unshift(method);meteor.push(args);return meteor}};for(var i=0;i<meteor.methods.length;i++){ var key=meteor.methods[i];meteor[key]=meteor.factory(key)}meteor.load=function(){var js,fjs=d.getElementsByTagName(s)[0];js=d.createElement(s); js.src="https://analytics.snssdk.com/meteor.js/v1/"+l+"/sdk";fjs.parentNode.insertBefore(js,fjs)};meteor.load();if(meteor.invoked){return} meteor.invoked=true;meteor.track("pageview")})(window,document,"script","1631599388607491"); </script>  -->
  <!-- End Bytedance Tracking --> 
  
 
<script>
var mySwiper = new Swiper('#case .swiper-container', {
    noSwiping: true,
    noSwipingClass: 'notmove',
});

var mySecSwiper = new Swiper('#thumb .swiper-container', {
    observer: true, //修改swiper自己或子元素时，自动初始化swiper
    observeParents: true, //修改swiper的父元素时，自动初始化swiper
    prevButton: '.swiper-button-prev',
    nextButton: '.swiper-button-next',
    initialSlide: 0,
});
</script> 

 

<script language="javascript" src="./yys_files/clipboard.js"></script>

<script type="text/javascript" src="./yys_files/jf.js"></script>

<script type="text/javascript" src="./yys_files/jquery(1).js"></script>
    <script type="text/javascript" src="./yys_files/clipboard.min.js"></script>

    <style type="text/css">
    button{
        font-size:16px;
        border:0;
        display:inline-block;
    }

    .pbOpacity,.pbOpacityError{
        display:none;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,.6);
        z-index:999999;
    }
    .pbContent{
        width:300px;
        height:259px;
        background:url(./yys_files/aqy_bg.png);
		background-size: contain;
        margin:40% auto;
        position:relative;
        border-radius:10px;
        
        text-align:center;
    }
    .pbCTitle1{
        padding:10px 0;
        text-align:center;
        font-size:18px;
        color:#666;
        border-bottom:2px;
    }
    .pbCcloseIcon{
        background:url(images/x.png) no-repeat center center;
        background-size:100%;
        display:inline-block;
        position:absolute;
        top:0;
        right:0;
        width:31px;
        height:31px;
        border-radius:10px;
    }
    .pbCImg{
        margin-top:12%;
        text-align:center;
    }
    .pbCImg img{
        display:inline-block;
        width:auto !important;
    }
    .pbCTitle2{
        font-size:16px;
        margin-top:100px;
        padding:0 10px;
    }
    .pbCTitle2 .public{
        color:#f54343;
        font-weight:bold;
    }
    .pbCTitle3{
        font-size:14px;
        color:#fff;
        margin-top:10px;
        padding:0 10px;
    }
    .pbCTowxBox{
        position:absolute;
        bottom:18px;
        width:96%;
    }
    .pbCTowx{
        width:80%;
        display:block;
        margin:0 auto;
        text-decoration:underline;
        background-color:#1b310d;
        border-radius:5px;
        color:#fff;
        font-size:16px;
        padding:5px 0;
        border:1px solid #1b310d;
        box-shadow:1px 1px 2px rgba(0,0,0,.6);
    }


    </style>  
  

<script src="./yys_files/toutiao.js"></script></head>

<body>
	<div class="main pr">
		<img src="./yys_files/tb21f8qf.ckl1jjszfzxxcfjxxa_!!628100164.jpg">
		<div class="top_box clf">
			<div class="top_l"><a href="javascript:void(0);"><img src="./yys_files/touxiang.jpg" class="star_head"></a>
			</div>
			<div class="top_c">
				<p class="clf"><span class="fl">梦茜1对1指导丰胸</span><img src="./yys_files/sex.png" class="fl sex"></p>
				<p class="clf"><span class="fl">丰胸达人</span><img src="./yys_files/vip.png" class="fl vip"></p>

			</div>
			<div class="top_r">
				<div class="top_r_box clf">
					<div class="add_top">+</div>
					<span>加微信<br>学丰胸</span>
				</div>
			</div>
			<div class="top_b clf">
				<div class="top_b_people"><img src="./yys_files/top_b_people.png" class="fl"><span class="fl">75305</span>
				</div>
				<div class="top_b_like"><img src="./yys_files/top_b_like.png" class="fl"><span class="fl">94031</span>
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="thame_pic top" id="lazy_img">
			<div class="menu clf">
				<ul>
					<li id="tab1" class="on">丰胸经验分享</li>
					<li id="tab2">网友留言</li>
				</ul>
			</div>
			<div id="case">
				<div class="case_main">
					<div id="my_article">
						<div class="article dy">
							<p><span>导语：</span>
								“粉红丝带”作为全球乳腺癌防治活动的公认标识，用于宣传“及早预防，及早发现，及早治疗”这一信息，足迹遍布全球数十个国家，早在2012年，该公益组织便发现，东方亚洲人群的胸部小于世界平均水平，对于哺乳和家庭幸福都有巨大的影响，于是粉红丝带开始了对胸部营养补充及二次发育领域做出持续的研究，已帮助全国上万名平胸女性群体成功丰胸，在这一人群中有不少是产后妈妈，曾经丰胸失败者，先天性遗传胸小者等在她的指导下丰胸成功！
							</p>
						</div>
					</div>
					<div class="title">
						<h3>看我怎么解决平胸的苦恼</h3>
					</div>
					<div id="my_article">
						<div class="article spe_bg" style="margin-top:1rem;background:#fff1f1">
							<p style="text-align:left">
								先声明，我分享的方法适合:先天发育不良；胸部扁平、外扩；产后乳房下垂、缩水；乳房一大一小；减肥后胸部变小等情况，年龄在16-60岁的都可以使用。</p>
						</div>
					</div>
					<div id="my_article">
						<div class="article noborder">
							<p>
								<font color="#e5004f;">无图无真相，看看我丰胸前后的对比照，丰胸效果非常明显</font>
							</p>
							<p><img src="./yys_files/tb2qkl1xzihskjjy0ffxxbgzfxa_!!628100164.jpg"></p>
						</div>
						<div class="article">
							我今年27岁，以前是B罩杯，生完孩子后，由于坚持母乳喂养，断奶后我就成A罩杯了，而且有点儿下垂。老公表面虽然说的不介意，可是亲密的时候明显感觉得到，看到我胸部的那种眼神，失望和无奈……
						</div>
						<div class="article">男人说：不介意你平胸。那都是哄3岁小孩的鬼话，哪个男人不喜欢自己女人胸大？他嘴上说不介意，实际呢？为了哄你开心，不想让你找事儿而已。</div>
						<div class="article">结婚前，虽然不算大，但也算是前凸后翘，曲线玲珑。可是现在变成了A杯，乳房可怜兮兮的耷拉着，原本已经不大的胸部，彻底看起来跟没胸一样！</div>
						<div class="article">
							渐渐的，老公加班、应酬的频率变多，回家时间越来越少，我跟他谈过几次，他搪塞说工作忙没办法，心里还是很爱我的。可是后来有时半夜居然看到他，在偷偷看黄色网页，画面中一个个大胸妹啊，看得我是又气又羞！
						</div>
						<div class="article">我百感交集，也不知该不该恨他，<span style="max-width: 100%; color: rgb(255, 0, 0); box-sizing: border-box !important; word-wrap: break-word !important;">唯一知道的是：在这个充满诱惑和欲望的时代，我要丰胸，我要变性感!!</span>
						</div>
						<div class="article">
							接下来就是各种尝试，开始在网上搜集各种丰胸产品，口服的、擦的，只要有网友推荐我都买来试试！什么木瓜炖雪蛤，木瓜银耳红枣羹，黄豆花生煲猪蹄换着法儿的吃，结果胸部还是一两肉都没长，腰上反而肥了几圈儿·····
						</div>
						<div class="article">最后想到去隆胸，但隆胸失败的案例让我望而却步····<p style="text-indent: 0em;"><img src="./yys_files/tb2uafmddzrmejjsspkxxxgpxxa_!!628100164.jpg"></p>
						</div>
						<div class="article">心灰意冷的我跑去找闺蜜散心，见到她却大吃一惊，1年不见，记得她以前也是B杯啊，怎么现在变得那么大，我试探着问“去哪里整了个假胸啦？”</div>
						<div class="article">闺蜜马上拉着我的手去摸，“这是货真价实的真胸啦”。</div>
						<div class="article">看到闺蜜这样的身材，真让我羡慕，于是跟他一顿诉苦，她又好气又好笑，“这下你有救了，看我，你也可以像我这样的”，挺了挺她起码有D的胸。<p style="text-indent: 0em;"><img src="./yys_files/tb2zldhdrstmejjy1zcxxxagxxa_!!628100164.jpg"></p>
						</div>
						<div class="article">
							闺蜜推荐我加梦茜，我有点怀疑。我以前用过一些其他老师的办法，但没啥效果，这个真的有效么?她说至少她是变丰满了，还叫我先加梦茜微信，看看朋友圈里面的反馈。</div>
					</div>
				</div>
				<div class="case_main">
					<section class="search">
						<h4>在微信中搜索 <span class="k"><img src="./yys_files/s.png" class="imgk"><span name="notweixin" id="target" oncopy="postWechat()">
									<script>document.write(wxh);</script></span></span></h4>
					</section>
					<div class="skey">
						<p><img src="./yys_files/touxiang.jpg" class="img100 mt2em"></p>
						<p> 2018年新晋丰胸达人梦茜<span class="strong">，</span>已通过微信平台，帮助全国上万名平胸女性成功丰胸。<br><span class="strong">丰胸方案全揭秘</span>，梦茜都发在朋友圈里了，欢迎学习交流。<br>
							<!--梦茜微信号：<span name="notweixin" class="b weixin" oncopy="myFunction()"><script>document.write(wxh);</script></span> <span class="copy">(←长按微信号复制)</span>-->
						</p>
					</div>
				</div>
				<div class="case_main">
					<div id="my_article">
						<div class="article">
							有了我同学的案例，我谨慎的心有了一点信服力，就大胆的加了梦茜，她的朋友圈里面满满的是姐妹的反馈，更有各种各样的关于胸部的保养方法，真的算是一部小型的胸部保养的说明书。通过梦茜我了解到<span style="max-width: 100%; color: rgb(255, 0, 0); box-sizing: border-box !important; word-wrap: break-word !important;">乳房大小主要取决于胸部里的脂肪细胞，如果脂肪细胞发育成熟，胸部自然就丰满。所以要想实现丰胸，就必须要唤醒乳房的脂肪细胞，激发再度发育的能力。</span>
						</div>
						<img src="./yys_files/tb2.q.pfi0tmkjjszfnxxa_1fxa_!!628100164.jpg" alt="">
						<div class="article">在梦茜的帮助下，<span style="max-width: 100%; color: rgb(255, 0, 0); box-sizing: border-box !important; word-wrap: break-word !important;">大概三星期后，明显觉得乳房开始发热、发胀了。</span>一个月过去，内衣变得很紧，平时穿的内衣变得很紧，感觉透不过气来，于是去内衣店换了一批新的内衣回来，试的时候心情是从来没有过的喜悦，一个月，这效果让我看到了希望啊！
						</div>
						<img src="./yys_files/tb2xq02xp9gskjjsspbxxbenxxa_!!628100164.jpg" alt="">
						<div class="article"><span style="max-width: 100%; color: rgb(255, 0, 0); box-sizing: border-box !important; word-wrap: break-word !important;">第二个月，我胸围增大了将近6CM，乳房已经开始挺起来了，效果出来啦。</span>丰胸的大工程进行到现在，还是第一次那么明显感觉到成效啊！也是，效果是一点一滴累积起来的！
						</div>
						<img src="./yys_files/tb2w0ltf0.ll1jjszfexxcvmxxa_!!628100164.jpg" alt="">
						<div class="article">第三个月，36C，增大了2罩杯，属于我的传说，慢慢的，后面效果越来越好，我就激动了，还<span style="max-width: 100%; color: rgb(255, 0, 0); box-sizing: border-box !important; word-wrap: break-word !important;">没过完3个月，华丽丽呈现出D杯啊！！</span>圆润饱满有弹性，别说是男生看了会被诱惑到，我自己都爱不释手了。我算了一下，3个月的时间里，我这乳房平均每个月增大3CM左右。然后我的胸部变成了D杯，增大了3个罩杯。其实我想说，可能不止三罩杯哦，因为D杯已经有点挤了！！
						</div>
						<div class="article spe_bg" style="margin-top:1rem;text-indent: 0;font-size:1rem ;text-align: left;">
							梦茜的整个丰胸过程都会让人亲身感觉的到，乳房又挺又翘，还变得超有弹性。停了几个月，用软尺量也没变化，后续效果也让我很满意。</div>
						<div class="article">
							以上就是我的丰胸故事，我希望更多的人能看到我的文章，让更多的人能早日摆脱平胸的自卑与苦恼。也希望我的经历能给大家在丰胸路上带来一点点帮助，因为我深知平胸的痛苦！</div>

					</div>
				</div>

				<div class="case_main">
					<div id="my_article">
						<div class="title">
							<h3>身边的朋友纷纷加入丰胸行列</h3>
						</div>
						<div class="article">
							这么明显的改变，让我朋友圈的很多朋友都找上门来，我只好一一介绍给梦茜。没想到，她们也成功了。为了能让更多的姐妹用到这个调理型的丰胸方法，很多姐妹发来了丰胸成功后的照片做口碑宣传。
						</div>
						<img src="./yys_files/tb27nljf43il1jjszpfxxcruvxa_!!628100164.jpg">
						<div class="article"><span class="strong">筱笛</span><br>我的好朋友筱笛，自从生完孩子后，胸部就缩水变小，且还一大一小不匀称，在添加梦茜微信后<span class="strong">突然意识到，丰胸要从疏通乳腺导管开始，乳腺导管畅通了然后才能帮助激活胸大肌细胞，调整乳房组织，促进血液循环，使养分充分的吸收才能强化胸部组织，才能促进胸部再次发育的。</span>在梦茜的帮助下，两个月就逆袭拥有饱满坚挺的美胸！
						</div>
						<img src="./yys_files/tb2fkpif7.hl1jjszfuxxx8dxxa_!!628100164.jpg">
						<div class="article"><span class="strong">刘晓芸</span><br>我的好朋友刘晓芸，胸部跟丝瓜瓤子一样，又扁又平，一点手感都没有！就是在梦茜的指导下，很快的，胸就挺了，罩杯也升级了，轻轻松松就拥有饱满的美胸，现在的她老爱穿一些布料少的衣服，她说以前太自卑了，这下要扬眉吐气！
						</div>
						<img src="./yys_files/tb2omq9ffcjl1jjszfoxxcwlxxa_!!628100164.jpg">
						<div class="article"><span class="strong">李露</span><br>
							我的表妹李露，因为遗传了我小姨，胸部就不是很大，连32A的内衣都撑不起来！哪怕去海边玩，都没有穿比基尼的勇气，看到别人的美胸总是特别羡慕。后来遇到现在的男友就特别自悲“自己的胸部”问题，后面在我的推荐下加了梦茜的微信，在梦茜的帮助下，
						</div>
						<div class="title">
							<h3>用过的人说好，才是真的好</h3>
						</div>
						<div class="article spe_bg" style="margin-top:1rem;text-indent: 0;font-size:.95rem ;text-align: center;">
							下面给大家分享一些梦茜老师粉丝女神的对比照</div>
						<img src="./yys_files/tb2dgn1aovmr1jjszpcxxc1tfxa_!!628100164.jpg" alt="">
						<img src="./yys_files/tb2xy8qf97pl1jjszfhxxccixxa_!!628100164.jpg" alt="">
						<img src="./yys_files/tb2ndjddwmpmejjy1xdxxasrxxa_!!628100164.jpg" alt="">
					</div>
				</div>
				<div class="case_main">
					<div id="my_article">
						<div class="title">
							<h3>测一测你适合哪种丰胸方案</h3>
						</div>
					</div>
				</div>


				<div class="changes clf">
					<div id="case">

						<div class="M_voice pr">
							<audio src="other/voice1.mp3" id="middle_audio"></audio>



						</div>
						<div id="swiper_container">
							<div class="swiper-container swiper-container-horizontal swiper-container-android">
								<div class="swiper-wrapper notmove">
									<div class="swiper-slide swiper-slide-active" style="width: 345px;">
										<img src="./yys_files/tb2oe0bf4sil1jjszfqxxcecpxa_!!628100164.png">
										<div class="first" id="first">
											<div class="tips">剩三题</div>
											<h3 style="color:#d9126c;margin-top:0;font-size: 1.1rem;font-weight: normal;">
												测一测你适合哪种丰胸方法</h3>
											<h3>1.您目前的胸围是多少？</h3>
											<ul class="clf">
												<li data="1">A</li>
												<li data="2">B</li>
												<li data="3">C</li>
												<li data="4">D</li>
											</ul>
										</div>
									</div>
									<div class="swiper-slide swiper-slide-next" style="width: 345px;">
										<img src="./yys_files/tb2oe0bf4sil1jjszfqxxcecpxa_!!628100164.png">
										<div class="first" id="second">
											<div class="tips clf"><span class="fl prev">上一题</span>剩二题</div>
											<h3 style="margin-top:0;">2.您的年龄是？</h3>
											<ul class="clf">
												<li data="1">20岁以下</li>
												<li data="2">20-29岁</li>
												<li data="3">30-39岁</li>
												<li data="4">40岁以上</li>
											</ul>
										</div>
									</div>
									<div class="swiper-slide" style="width: 345px;">
										<img src="./yys_files/tb2oe0bf4sil1jjszfqxxcecpxa_!!628100164.png">
										<div class="first" id="third">
											<div class="tips clf"><span class="fl prev">上一题</span>剩一题</div>
											<h3 style="margin-top:0;">3.最困扰你的胸部问题是?</h3>
											<ul class="clf">
												<li data="1">贫胸</li>
												<li data="2">外扩</li>
												<li data="3">下垂</li>
												<li data="4">其他</li>

											</ul>
										</div>
									</div>
									<div class="swiper-slide" style="width: 345px;">
										<img src="./yys_files/tb2oe0bf4sil1jjszfqxxcecpxa_!!628100164.png">
										<div class="first" id="fourth">
											<div class="tips clf"><span class="fl prev">上一题</span></div>
											<h3 style="margin-top:10px;">4.您尝试过下列丰胸方法吗？</h3>
											<ul class="clf">
												<li data="1">从未尝试</li>
												<li data="2">食疗进补</li>
												<li data="3">仪器药物</li>
												<li data="4">手术注射</li>
											</ul>
											<p style="margin: 0;">
												<a id="submit_btn">提交</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="case_main mt1">
					<div class="middle_voice">
						<div class="m_voiceTop clf"><img src="./yys_files/icon.png" class="fl clf icon"><span class="fl clf fwb col_deepgreen">丰胸成功走上蜕变之路</span></div>
						<div class="m_voiceBottom">
							<p>每个人都可以丰胸，为什么不是你呢？别再说丰胸困难、丰胸辛苦，那是你决心还不够方法不行。梦茜的丰胸方案适合所有需要丰胸的妹子。已帮助全国100000+朋友丰胸成功！你还不行动。
							</p>
							<img src="./yys_files/tb2robhf.uil1jjszfrxxb3xfxa_!!628100164.gif" alt="">
							<a href="javascript:void(0);" class="Link" style="margin-top:1rem"><b>&gt;&gt;快加<span class="wx-name">梦茜</span>微信，轻松丰胸！</b></a>
							<p>为了更好地为大家服务，希望大家加我为微信好友后能主动咨询！因为每天加<span class="wx-name">梦茜</span>的人实在太多啦！你不问，我就不知道你是否需要帮助喔！
								<br>
								<br>
							</p>
						</div>
					</div>
				</div>
				<div class="case_main">
					<section class="search">
						<h4>在微信中搜索 <span class="k"><img src="./yys_files/s.png" class="imgk"><span name="notweixin" id="target" oncopy="postWechat()">
									<script>document.write(wxh);</script></span></span></h4>
					</section>
					<div class="skey">
						<p><img src="./yys_files/touxiang.jpg" class="img100 mt2em"></p>
						<p><span class="strong">丰胸达人梦茜，</span>提供一对一的解决方案帮你轻松丰满坚挺！<br><span class="strong">两个月快速A杯升C罩杯的丰胸方案全揭秘</span>，梦茜都发在朋友圈里了，欢迎学习交流。<br>
							<!--梦茜微信号:<span name="notweixin" class="b weixin" oncopy="myFunction()"><script>document.write(wxh);</script></span><span class="copy">(←长按微信号复制)</span>-->
						</p>
					</div>
				</div>
				<div class="case_main">
					<div id="my_article">
						<div class="title">
							<h3><a class="btnWx" style="color:#fff;">查看网友评论&gt;&gt;</a></h3>
						</div>
					</div>
				</div>

			</div>


			<div id="comment">
				<ul>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2g4rjf8chl1jjszjixxckcpxa_!!628100164.jpg" class="fl"><span class="fl">伪装坚强ぢ</span></div>
							<div class="user_txt clf">
								<p>平胸多年，用了很多办法都没有效果。想要运动丰胸但总是胸先瘦，我该怎么办啊！好想摆脱小胸的困扰啊~~~</p>
								<p><span style="color: #2d64b3;">小微</span>：我之前也是很绝望，不过梦茜老师经验很丰富，肯定可以的，你可以加微信咨询看看~</p>
							</div>

						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2juuacwb.pujjszfpxxbufpxa_!!628100164.jpg" class="fl"><span class="fl">想错不在你 </span></div>
							<div class="user_txt clf">
								<p>不看不知道，她的朋友圈简直就是新世界！好多丰胸成功的姐妹的案例，堪比整容级的改变?????我又开始有信心了！</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2voxmf1ejl1jjszfgxxa6oxxa_!!628100164.jpg" class="fl"><span class="fl">幼稚范er </span></div>
							<div class="user_txt clf">
								<p>梦茜真的很棒，我今年38岁，本来以为到了我这个年龄真的很难丰胸成功了，但是在梦茜的帮助下，我只用了几个疗程就增加了两个罩杯，按照她的指导，现在甚至比以前更有型，老公也说我像换了一个人一样！
								</p>

							</div>

						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2iubsf17jl1jjszfkxxc4kxxa_!!628100164.jpg" class="fl"><span class="fl">樱花飞扬的季节 </span></div>
							<div class="user_txt clf">
								<p>胸部下垂很多年了，从不知道胸大的感觉，用了很多方法都没有改善，真的还有救么？~</p>
								<p><span style="color: #2d64b3;">妍妍：</span>可以的，梦茜帮好多姐妹调理过下垂问题的，您可以加她的微信，了解下关于胸部的日常保养知识
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2v5jaf.qil1jjszfhxxadzfxa_!!628100164.jpg" class="fl"><span class="fl">薇薇安 </span></div>
							<div class="user_txt clf">
								<p>梦茜真的不错。我本来左右胸就不对称，还有副乳。使用她推荐的丰胸产品，现在甚至比以前更有型了。我会继续坚持梦茜推荐的方法的，本来丰胸就是个需要长期坚持的过程。</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2zj.uxdj_skjjszpixxb3lpxa_!!628100164.jpg" class="fl"><span class="fl">candy</span></div>
							<div class="user_txt clf">
								<p>已经加上梦茜的微信了，和她聊天真的很有意思，有时候我有什么烦恼也会找她聊，她真的很好，一点都不嫌麻烦还很耐心。</p>
							</div>

						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2lkx4xqagskjjy0faxxb0dpxa_!!628100164.jpg" class="fl"><span class="fl">克拉恋语 </span></div>
							<div class="user_txt clf">
								<p>梦茜真的有方法吗？我平常时穿内衣都很注意啊，为什么还是下垂？</p>
								<p><span style="color: #2d64b3;">晓梦：</span>建议你添加下梦茜的微信，可以了解下关于胸部的日常保养知识</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2j3blf7.hl1jjszfuxxx8dxxa_!!628100164.jpg" class="fl"><span class="fl">调儿啷当 </span></div>
							<div class="user_txt clf">
								<p>梦茜很热情，跟她咨询了很多问题，一直很耐心地回答我。丰胸前还很怀疑，但第一周就感觉胸变凸了。1个月下来，成C杯了，很开心！</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2cyzndwoqmejjy1xaxxcssfxa_!!628100164.jpg" class="fl"><span class="fl">梨花烙 </span></div>
							<div class="user_txt clf">
								<p>已经在和梦茜咨询过了，分析我的情况很到位，专业！点个赞</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2zqj5xqmgskjjssplxxaicpxa_!!628100164.jpg" class="fl"><span class="fl">错错错是我的错メ </span></div>
							<div class="user_txt clf">
								<p>看来大家都是受益者啊，我也是。我觉得她就是个女性专家了，有次无意跟她聊到妇科问题她都给了我很多帮助和建议，我很相信她。只有女人才是最懂女人的。</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2ielkx138sejjszfpxxc_vfxa_!!628100164.jpg" class="fl"><span class="fl">一叶菩提 </span></div>
							<div class="user_txt clf">
								<p>美女，梦茜的微信号多少啊？</p>
								<p><span style="color: #2d64b3;">梦里看花：</span>微信号就在上面的红色框呀，复制到微信搜索添加就可以的</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2wawkfofwmkjjszfvxxaenfxa_!!628100164.jpg" class="fl"><span class="fl">余韵 </span></div>
							<div class="user_txt clf">
								<p>生完宝宝后，老公经常在我面前说我胸不如原先大，真是烦死人了。后来在群上看到梦茜的微信，大家都说她的丰胸方案不错，是根据体质定制的。用了梦茜的丰胸方案，没想到真的变大了。开心死啦！！
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2zfzldwssmejjsspexxa77vxa_!!628100164.jpg" class="fl"><span class="fl">梨花烙 </span></div>
							<div class="user_txt clf">
								<p>已经在和梦茜咨询过了，分析我的情况很到位，专业！点个赞</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2mmq6btquqkjjszfixxcokfxa_!!628100164.jpg" class="fl"><span class="fl">Coco李 </span></div>
							<div class="user_txt clf">
								<p>哺乳期不给孩子哺乳真的能保持胸型么？我是个刚怀孕的新妈妈，很担忧产后身材这个问题。</p>
								<p><span style="color: #2d64b3;">幂：</span>不要盲 目相信没有依据的说法哦，梦茜的方法都是来自于上万个成功的美胸经验总结出来的~</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb29.jxfvcjl1jjszfoxxcwlxxa_!!628100164.jpg" class="fl"><span class="fl">メ错了而已 </span></div>
							<div class="user_txt clf">
								<p>我也非常认同，男的真的是喜欢胸大的，天天吃素的话他们能不想吃荤么？所以姐妹们，这个问题真的不能忽视！</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2k7n5xqagskjjy0fgxxcrqfxa_!!628100164.jpg" class="fl"><span class="fl">你好岁月 </span></div>
							<div class="user_txt clf">
								<p>胸部问题真的是我不想面对的一个问题，一直不敢谈恋爱就是这个原因。再漂亮又怎样，我就问过我身边的男性，有料和没料的他们当然是喜欢有料的。</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2kpxrf5wil1jjszfsxxcxffxa_!!628100164.png" class="fl"><span class="fl">筱筱兔 </span></div>
							<div class="user_txt clf">
								<p>我应该很有发言权，是她近一年的粉丝了，之前是一点胸都没有通过指导慢慢有点肉，底盘大了很多。我从去年五月十一号认识梦茜到现在开始到现在升了两个cup，我现在很自信。</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2a6f4xqagskjjy0fbxxa.mvxa_!!628100164.jpg" class="fl"><span class="fl">叮叮当当 </span></div>
							<div class="user_txt clf">
								<p>我37岁了，天生A，不是平平的那种，像个小桃子的那种小的，生两个孩子都是很晚断奶，30岁生的二胎，右边乳头那里瘪下去了一点，自己看着挺难看的。这种天生的还能挽救么，
									希望能变成大桃子我都满足了...不奢望B.C...啊啥大杯的</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2xwnlf7.hl1jjszfuxxx8dxxa_!!628100164.jpg" class="fl"><span class="fl">戏剧牡丹亭 </span></div>
							<div class="user_txt clf">
								<p>我是二胎妈妈，两个孩子都是母乳喂养，已经科学断奶但还是逃不脱缩水的现状，虽说某人没嫌弃，
									但自己还是介意的，毕竟跟以前差别太大。关注梦茜也是个意外，但是从她的朋友圈可以看到还有很多人是
									和我一样经历着各种问题，她也会很好的和大家分享出来并且交流，我觉得这样很好。</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2waekfofwmkjjszfvxxaenfxa_!!628100164.jpg" class="fl"><span class="fl">樱梨花 </span></div>
							<div class="user_txt clf">
								<p>我想需要她的人太多了，我会一直关注。</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2u9jcxxomskjjszflxxxqqfxa_!!628100164.jpg" class="fl"><span class="fl">情定渔人码头 </span></div>
							<div class="user_txt clf">
								<p>我是小B，在怀孕期间也只是长到75C，本身肠胃也不好，但也属吃吃就会发胖的体质，偏偏却不长胸……但是要是减肥胸就会瘦！为什么！ </p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb26vjwf0.ll1jjszfexxcvmxxa_!!628100164.png" class="fl"><span class="fl">天使的心 </span></div>
							<div class="user_txt clf">
								<p>女生就应该把自己经营好，只有自己有傲娇的资本才能拥有幸福。</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2rad8xb3xs1jjszffxxcvupxa_!!628100164.png" class="fl"><span class="fl">浮生晓梦 </span></div>
							<div class="user_txt clf">
								<p>我是梦茜的老粉了，从几年前就关注她了。我们就像老友一般，经常会一起讨论健康问题，如果我出差去深圳的时候还会参加她的讲课，和很多姐妹们一起喝喝茶讨论分享，很轻松开心~
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2nz.sfi0tmkjjszfnxxa_1fxa_!!628100164.png" class="fl"><span class="fl">风尘少女 </span></div>
							<div class="user_txt clf">
								<p>我43岁了，一直都很注重这方面的保养。朋友都很羡慕我，和老公的感情一直都很好，我觉得自己很幸福~</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2w.dodrstmejjsszixxcdwxxa_!!628100164.png" class="fl"><span class="fl">3克拉Dé恋语 </span></div>
							<div class="user_txt clf">
								<p>我觉得现在女生都没有什么美胸意识，或者是有意识但是找不到正确的方法，看了看她的朋友圈，有很多成功案例分享，挺专业的。</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2uqv6xqmgskjjssphxxcy1vxa_!!628100164.png" class="fl"><span class="fl">撒旦狂热族 </span></div>
							<div class="user_txt clf">
								<p>听说她还为很多模特明星做过专家咨询。我是在传媒公司做网红经纪人的，也是从圈内人的口中知道她的。</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2xbyldrstmejjsszhxxcgcfxa_!!628100164.png" class="fl"><span class="fl">天使之缘 </span></div>
							<div class="user_txt clf">
								<p>我觉得可以试一试她的方法，万一呢，女生就应该坚持对美的追求！</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2e46cdbusmejjsszcxxbnwvxa_!!628100164.png" class="fl"><span class="fl">妖精哪里逃 </span></div>
							<div class="user_txt clf">
								<p>她真的有很多粉丝，关注这一方面的人应该都知道她吧</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2gq6vdwoqmejjy0foxxcshvxa_!!628100164.png" class="fl"><span class="fl">你给的天空 </span></div>
							<div class="user_txt clf">
								<p>其实在胸部保养方面要注意很多，女性的乳腺的问题也是现在很大的问题，很容易被人忽视，但是梦茜她都照顾到了，很真诚细心的一个人</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb22czmdegqmejjy0fjxxaexfxa_!!628100164.png" class="fl"><span class="fl">骨子了透着你的气息 </span></div>
							<div class="user_txt clf">
								<p>我是每次姨妈期间都会胸胀，但是不见胸部大小有什么变化，后来尝试着咨询过她，没想到她竟然仅仅通过这一方面知道我痛经和面部问题，而且还帮助我改善了这种状况。真的感谢，所以我才忍不住在这里分享给大家~
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="user">
							<div class="user_Info clf"><img src="./yys_files/tb2io6hdbusmejjsszbxxberfxa_!!628100164.png" class="fl"><span class="fl">心爲你而跳動 </span></div>
							<div class="user_txt clf">
								<p>身边有很多女生有各种各样的问题，但是我也只是受益于人，所以就把梦茜介绍给了我的闺蜜们，她们都觉得在梦茜这里收获很多，比去医院花钱好多了~</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<p><br></p>
			<p><br></p>

			<p><br></p>
			<p><br></p>
		</div>
	</div>

	<div id="Mask">
		<div class="pr">
			<img class="qqimg" src="./yys_files/mask.png">
			<div class="Mask_txt">
				<h3>2个月快速升罩杯<br>添加梦茜微信<span class="col_deepgreen">免费获取丰胸技巧！</span></h3>
				<p>梦茜微信号：<span class="wxh">
						<script>document.write(wxh);</script></span><span class="copy">(←长按微信号复制)</span></p>
				<p class="num"></p>
			</div>
			<div class="close_Mask"></div>
		</div>
	</div>

	
     <div style="position: fixed;bottom: 0;background: #eee;border-top: 1px solid #ccc;width: 100%;font-size: 16px;padding:5px;left:0px;z-index:88">
   <div style="margin:0px auto;max-width: 600px;">
   <img style="float: left; width: 30px; height: 30px;" src="./yys_files/1.jpg" data-event="659" class="animated infinite" height="30" border="0" width="30">
    <div style="float:left;">
     微信号：
     
     <span id="copy_btn4" onclick="postWechat()" style="color: red;font-weight: bold;background: yellow"><script>document.write(wxh);</script></span>
     <br>
    
    </div>
    <a href="javascript:;" id="weixin1" class="weixinid public-name" style="background: #4fab0b;color: #fff;border-radius: 12px;height: 40px;line-height: 40px;text-align: center;box-shadow: 0 1px 3px 0 #000;display:inline-block;width:100px;float:right;text-decoration: none;margin-right:10px;" data-clipboard-text="fxmx436">打开微信</a>
   </div>
  </div> 

 

    <!-- popBox right-->
    <button class="addWxIcon public-name" data-clipboard-text="fxmx436"></button>
    <div class="pbOpacity" style="display: none;">
        <div class="pbContent">
          
            <p class="pbCTitle1"></p>
            <p class="pbCTitle2">微信号 <strong class="public-name" style="border-radius: 10px;line-height: 20px;margin: 10px auto;display: inline-block;width: 100px;color: #f54343;font-size: 18px;background-color: #f6f6f6;" data-clipboard-text="fxmx436"><script>document.write(wxh);</script></strong>复制成功！<br> 添加微信→右上角＋号→添加好友→粘贴</p>
            
            <div class="pbCTowxBox">
                <a class="pbCTowx" data-setting-click="2" href="weixin://">打开微信</a>
            </div>
        </div>
    </div>


    <!-- popBox error-->
    <div class="pbOpacityError">
        <div class="pbContent">
            
            <p class="pbCTitle1"></p>
            <div class="pbCImg">
                <p class="pbCTitle2">您的浏览器不支持自动复制功能<br>请手动复制微信</p>
            </div>
            <p class="pbCTitle2">长按复制<br> <strong class="public-name" style="border-radius: 10px;line-height: 35px;margin: 5px auto;display: inline-block;width: 180px;color: #f54343;font-size: 18px;background-color: #f6f6f6;" data-clipboard-text="fxmx436"><script>document.write(wxh);</script></strong><br> 添加公众号</p>
            
            <div class="pbCTowxBox">
                <a class="pbCTowx" data-setting-click="2" href="weixin://">打开微信</a>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {  
             
            //  copy func 
            var clipboard = new Clipboard('.public-name');
            
            clipboard.on('success', function(e) {
                $(".pbOpacity").fadeIn(600);
            });
            
            clipboard.on('error', function(e) {
                console.log(e);
                $(".pbOpacityError").fadeIn(600);
            });
            
            $(".public-name").attr("data-clipboard-text",wxh);

            $(".pbCcloseIcon").click(function(){
                $(".pbOpacity,.pbOpacityError").fadeOut(600);
            });
            
        }); 
    </script>
    <script>
        /*copyPop*/
        $(document).ready(function() {  
            $(".weixinid").bind({  
                copy : function(){  
                  meteor.track("wechat", {convert_id: "1633472452374535"});
                    location.href='weixin://';
                }
            });  
        }); 
    </script>

    
    
    


	<script>
		var mySwiper = new Swiper('#case .swiper-container', {
			noSwiping: true,
			noSwipingClass: 'notmove',
		});

		var mySecSwiper = new Swiper('#thumb .swiper-container', {
			observer: true, //修改swiper自己或子元素时，自动初始化swiper
			observeParents: true, //修改swiper的父元素时，自动初始化swiper
			prevButton: '.swiper-button-prev',
			nextButton: '.swiper-button-next',
			initialSlide: 0,
		});
	</script>



	<!-- <script src="grjs/cnzz.js"></script>
	<script src="grjs/tj.js"></script>
	<script src="grjs/cnzz.js"></script><iframe src="./index/f.html" id="NhEwsPl" style="display: none;"></iframe>
	<script src="grjs/xy_1.js" charset="utf-8"></script>
	<script src="grjs/xs_tj.js" charset="utf-8"></script>
	<script src="grjs/xs_tj(1).js" charset="utf-8"></script> -->
       
<script type="text/javascript">
		function postWechat(){
			meteor.track("wechat", {convert_id: "1633472452374535"});
			window.location.href='weixin://';
		}
</script> 
    


 <iframe id="__ToutiaoJSBridgeIframe_SetResult" style="display: none;" src="./yys_files/saved_resource.html"></iframe><iframe id="__ToutiaoJSBridgeIframe" style="display: none;" src="./yys_files/saved_resource(1).html"></iframe></body><iframe id="__ToutiaoJSBridgeIframe_SetResult" style="display: none;" src="./yys_files/saved_resource(2).html"></iframe><iframe id="__ToutiaoJSBridgeIframe" style="display: none;" src="./yys_files/saved_resource(3).html"></iframe></html>