*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    
    font-size: 1rem;
    font-family: "Microsoft YaHei", '微软雅黑';
    padding-bottom: 2.2rem;
}
.top-content{
    padding: 1rem;
}
.title h2{
    /* margin-bottom: 1rem; */
}
.image{
    width: 100%;
    margin: 0.8rem 0;
}
.content{
    text-align: justify;
    margin-top: 0.5rem;
    text-indent:2em;
}
.con-red{
    color: #f00;
}
/* .content .con-text{
    text-indent:2em;
} */
.con-title{
    color: aliceblue;
    background-color: #f00;
    text-align: center;
    padding: 0.3rem;
    margin: 0.7rem 0 ;
}
p{
    line-height: 1.7rem;
}
font{
    color: 	#DC143C;
}
.lou{
    margin: 1rem 0 0 0;
    position: relative;
}
.lou-img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.lou .lou-name{
    position: absolute;
    top: 0;
    margin-left: 0.5rem;
}
.lou .lou-time{
    font-size: 0.7rem;
    margin-left: 0.7rem;
    color: rgb(190, 187, 187);
}


.main-bottom{
    background: #f5f7fa;
    padding: 1rem;
}
.content-bottom{
    width: 100%;
    /* padding:1rem; */
}
.content-bottom .comment{
    /* display: inline-block; */
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    color: #880000;
    height: 3rem;
    line-height: 3rem;
    /* margin-left: 7.4rem; */
    background: rgb(227, 226, 226);
    opacity: 0.6;
}

.content-a{
    margin: 0 auto;
}
.admin{
    display: inline;
    position: relative;
}
.admin_t{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.name{
    position: absolute;
    margin-left: 0.7rem;
}
.list-name{
    display: inline;
}
.list_lou{
    font-size: 0.7rem;
    color: #999;
    margin-left: 0.7rem;
}
.pushTime{
    font-size: 0.7rem;
    color: #999;
}
.list_main{
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    /* border-bottom: 1px solid #999; */
    letter-spacing: .05em;
}
.reply{
    padding-top: 0.5rem;
    padding-left: 3rem;
    letter-spacing: .05em;
    padding-bottom: 1.5rem;
    /* border-bottom: 1px dashed #000; */
    background-color: #f5f5f5;
}
.reply_l{
    color: #3D6299;
    font-weight: bolder;
}
.list{
    margin-top: 0.7rem;
}
.name{
    color: #333;
}
.icon-gif{
    width: 1.5rem;
    height: 1.5rem;
}




.float_qb dl,.float_qb dd,.float_qb p{ 
    margin:0; 
    padding:0; 
    list-style:none; 
    text-align:left
}
.float_qb{ 
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #fff;
    padding: 5px 10px;
    /* opacity: 0.7; */
    line-height: 22px;
    /* color: #fff; */
    font-weight: normal;
    border: #eee 1px solid;
    box-sizing: border-box;
    font-size: 14px;
}
.tan{
    position: relative;
    display: inline-block;
    text-align: left;
    background-color: #fff;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    pointer-events: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    width: 90%;
    max-width: 640px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.tan-c{
    font-weight: bold;
    font-size: 0.28rem;
    /* width: 2rem; */
    /* line-height: 2rem; */
}
#zhuanhua{
    float: right;
    margin-left: 10px;
    width: 30px;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    box-shadow: 0 1px 3px 0 #000;
    width: 64px;
    float: right;
    margin-right: 4px;
    background: #4CAF50;
    color: #FFF;
    border-radius: 10px;
    text-decoration: none;
}
.btnall{
    display: box;
    display: -moz-box;
    display: -webkit-box;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 0;
    border-top: 1px solid #D0D0D0;
    background-color: #F2F2F2;
}
.btnall span{
    display: block;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-box-flex: 1;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.btnall span[no]{
    border-right: 1px solid #D0D0D0;
    border-radius: 0 0 0 5px;
}

.float_qb h5{ font-weight:bold; font-size:16PX;}
.float_qb dt{ float:left; width:40px; margin-right:10px;}
.float_qb dt img{ width:100%;}
.float_qb dd{ overflow:hidden;}
.float_qb dd span{ background:#009688; color:#fff; font-weight:bold; padding:0 5px; font-weight:bold; font-size:18px;}