/* ::::: http://td.doctorjing.com/meiyoua/images/lanyon.css ::::: */

.sidebar-toggle::before { display: block; content: ""; width: 100%; padding-bottom: 0.125rem; border-top: 0.375rem double; border-bottom: 0.125rem solid; box-sizing: border-box; }
/* ::::: http://td.doctorjing.com/meiyoua/images/base.css ::::: */

html, body { font: 14px/1.5 "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei",sans-serif; color: rgb(64, 64, 64); background-color: rgb(255, 255, 255); }
body, p, pre, blockquote, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, form, fieldset, legend, select, input, textarea, button, table, caption, tr, th, td { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; }
img { max-width: 100%; }
.cf::before, .cf::after, .nav::before, .nav::after, .media::before, .media::after, .form-item::before, .form-item::after { display: table; content: ""; }
.cf::after, .nav::after, .media::after, .form-item::after { clear: both; }
/* ::::: http://td.doctorjing.com/meiyoua/images/line.css ::::: */

body { font: 12px/1.5 tahoma,arial,宋体; }
html, body { background: rgb(241, 241, 241) none repeat scroll 0% 0%; height: 100%; }
#lineview {  }
.view-wrap { width: 100%; padding: 20px 0px; height: 100%; background: rgb(242, 242, 242) none repeat scroll 0% 0%; }
.view-main { max-width: 740px; margin: 0px auto; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 0px 3px rgb(187, 187, 187); padding-top: 25px; }
.view-content { padding: 20px; }
