	body,html,p,span,div,ul,li,a,h2,h3,h4,h5,h1,i{padding:0;list-style: none;text-decoration: none;font-weight: 400;}
	body{font-size: 14px;font-family: "微软雅黑";background: rgba(241,241,241,1);}
	.all{max-width: 640px;width:100%;margin:0 auto;background: #fff;}
	.ynav-title{color: #666;font-size: 1.2rem;text-align: center;}
	.ynav ul{border-top: 1px solid #4897cb;border-bottom: 1px solid #4897cb;background:#4897cb;}
	.ynav ul li{display: inline-block;width: 22%;text-align: center;}
	.ynav ul li a{color: #fff;padding:2px 0;display: inline-block;}
	.ynav img{width: 100%;}
	.ycont{padding:0px 14px;}
	.ycont-h2{font-size: 1rem;margin-bottom:5px;padding-top: 10px;}
	.ycont-h3{font-size: 1rem;margin-bottom:5px;color: #607fa6;}
	.ycont-h4{font-size: 1rem;margin-bottom:5px;}
	.ycont-h4 i{display: inline-block;width: 33px;height: 33px;background: url(../images/icon.jpg) center no-repeat;vertical-align: middle;margin-right: 8px;}
	.ycont-title{background:rgb(211, 42, 99);border:2px dotted #fff;color: #fff;font-size: 1.2rem;padding:1%;margin:10px 0;box-shadow: 0px 5px 5px #ccc;font-weight: bold;}
	.ycont-cont-red{font-size: 1rem;color: #f00;line-height: 1.5rem;}
	.ycont-cont-black{font-size: 1rem;color: #444;line-height: 1.5rem;}
	.ycont-img{max-width: 420px;margin:auto;text-align: center;}
	.ycont-img1{max-width: 640px;margin:auto;text-align: center;}
	.ycont img{text-align: center;width: 100%;}
	.ycont-wechart{font-size: 1.2rem;background:rgba(255,0,0,.8);color: #fff;font-weight: bold;padding:2px 5px;}
	.ycont-box{border:2px solid #f00;border-radius: 3px;}
	.ycont-box p{padding:15px;line-height: 2rem;font-size: 1rem;}
	.ycont-center{text-align: center;}
	.ycont-center h4{font-size: .8rem;color: rgba(0,0,0,.9);margin-top: 10px;}
	.ycont-center p{font-size: .7rem;color: rgba(0,0,0,.5);margin-top: 5px;}
	.ycont-center span{color: #fff;background: #C00;padding:0 5px;}
	.ybottom{margin:20px 15px 24px;}
	.ybottom section{border-top: 1px solid #ddd;min-height: 40px;line-height: 20px;padding:8px 0;}
	.ybottom-title{line-height: 24px;padding:6px 10px 6px 10px;font-size: .8rem;color: #999;}
	.ybottom section a{color: #607fa6;}
	.ybottom section a:hover{text-decoration: underline;}
	.ybottom-fr{float: right;}
	.on{float: right;}
	.ybottom-cont{line-height: 24px;display: block;color: #333;padding:0 10px;word-break: break-all;}
	.ybottom-right{text-align: right;line-height: 24px;}
	.contentss {width: 90%;height: 5rem;word-break: break-all;margin: 1px auto;border: 2px solid #1f70bb;background-color: #fff;color: black;text-indent: 2px;font-size: 14px;}
	.subbtn {width: 72px;height: 28px;line-height: 28px;font-size: 14px;border-radius: 2px;background-color: #46B2EF;color: #FFFFFF;border: 1px solid #3686B3;cursor: pointer;margin-left: 5%;margin-bottom: 50px;}
	.subbtn:hover {background-color: #1a88cf;}
	.ycont-footer{line-height: 2rem;background: #f85959;display: block;text-align: center;font-size: .8rem;border-radius: .5rem;cursor: pointer;}
	.ycont-footer a{color: #fff;}
	.ycont-footer a:hover{text-decoration: underline;}
	.yfooter{padding:25px 0;text-align: center;color: #888;}