*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.content{
    padding: 0.5rem;
}
.content img{
    width: 100%;
}
     
.float_qb h5{ 
    font-weight:bold;
    font-size:16PX;
}
.float_qb dt{ 
    float:left; 
    width:40px; 
    margin-right:10px;
}
.float_qb dt img{ 
    width:100%;
}
.float_qb dd{ 
    overflow:hidden;
}
.float_qb dd span{ 
    background:#F00; 
    color:#fff; 
    font-weight:bold; 
    padding:0 5px; 
    font-weight:bold; 
    font-size:20px;
}
        
.float_qb dl,.float_qb dd,.float_qb p{ 
    margin:0; 
    padding:0; 
    list-style:none; 
    text-align:left
}
.float_qb{ 
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #000;
    padding: 5px 10px;
    opacity: 0.7;
    line-height: 22px;
    color: #fff;
    font-weight: normal;
    border: #eee 1px solid;
    box-sizing: border-box;
    font-size: 14px;
}
.tan{
    position: relative;
    display: inline-block;
    text-align: left;
    background-color: #fff;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    pointer-events: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    width: 90%;
    max-width: 640px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.tan-c{
    font-weight: bold;
    font-size: 0.28rem;
    /* width: 2rem; */
    /* line-height: 2rem; */
}
#zhuanhua{
    float: right;
    margin-left: 10px;
    width: 30px;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    box-shadow: 0 1px 3px 0 #000;
    width: 64px;
    float: right;
    margin-right: 4px;
    background: #f00;
    color: #FFF;
    border-radius: 10px;
    text-decoration: none;
}
.btnall{
    display: box;
    display: -moz-box;
    display: -webkit-box;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 0;
    border-top: 1px solid #D0D0D0;
    background-color: #F2F2F2;
}
.btnall span{
    display: block;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-box-flex: 1;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.btnall span[no]{
    border-right: 1px solid #D0D0D0;
    border-radius: 0 0 0 5px;
}