/* ::::: https://pubres.aihecong.com/web/iframe/hecong.css?043001 ::::: */

html { font-family: sans-serif; line-height: 1.15; }
body { margin: 0px; }
audio:not([controls]) { display: none; height: 0px; }
svg:not(:root) { overflow: hidden; }
[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner { border-style: none; padding: 0px; }
* {  }
*, *::after, *::before { box-sizing: border-box; }
body, html { width: 100%; height: 100%; }
body { font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 12px; line-height: 1.5; color: rgba(0, 0, 0, 0.65); background-color: rgb(255, 255, 255); }
article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul { margin: 0px; padding: 0px; }
*::-moz-selection { background: rgb(16, 142, 233) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.clearfix::after, .clearfix::before { content: " "; display: table; }
.clearfix::after { clear: both; visibility: hidden; font-size: 0px; height: 0px; }
@font-face {
	font-family: "anticon";
	src: url('font_r5u29ls31bgldi.eot') format("embedded-opentype"), url('font_r5u29ls31bgldi.woff') format("woff"), url('font_r5u29ls31bgldi.ttf') format("truetype"), url('font_r5u29ls31bgldi.svg') format("svg");
}
.anticon::before { display: block; font-family: anticon !important; }
.anticon-step-forward::before { content: ""; }
.anticon-step-backward::before { content: ""; }
.anticon-forward::before { content: ""; }
.anticon-backward::before { content: ""; }
.anticon-caret-right::before { content: ""; }
.anticon-caret-left::before { content: ""; }
.anticon-caret-down::before { content: ""; }
.anticon-caret-up::before { content: ""; }
.anticon-caret-circle-right::before, .anticon-circle-right::before, .anticon-right-circle::before { content: ""; }
.anticon-caret-circle-left::before, .anticon-circle-left::before, .anticon-left-circle::before { content: ""; }
.anticon-caret-circle-up::before, .anticon-circle-up::before, .anticon-up-circle::before { content: ""; }
.anticon-caret-circle-down::before, .anticon-circle-down::before, .anticon-down-circle::before { content: ""; }
.anticon-right-circle-o::before { content: ""; }
.anticon-caret-circle-o-right::before, .anticon-circle-o-right::before { content: ""; }
.anticon-left-circle-o::before { content: ""; }
.anticon-caret-circle-o-left::before, .anticon-circle-o-left::before { content: ""; }
.anticon-up-circle-o::before { content: ""; }
.anticon-caret-circle-o-up::before, .anticon-circle-o-up::before { content: ""; }
.anticon-down-circle-o::before { content: ""; }
.anticon-caret-circle-o-down::before, .anticon-circle-o-down::before { content: ""; }
.anticon-verticle-left::before { content: ""; }
.anticon-verticle-right::before { content: ""; }
.anticon-rollback::before { content: ""; }
.anticon-retweet::before { content: ""; }
.anticon-shrink::before { content: ""; }
.anticon-arrow-salt::before, .anticon-arrows-alt::before { content: ""; }
.anticon-reload::before { content: ""; }
.anticon-double-right::before { content: ""; }
.anticon-double-left::before { content: ""; }
.anticon-arrow-down::before { content: ""; }
.anticon-arrow-up::before { content: ""; }
.anticon-arrow-right::before { content: ""; }
.anticon-arrow-left::before { content: ""; }
.anticon-down::before { content: ""; }
.anticon-up::before { content: ""; }
.anticon-right::before { content: ""; }
.anticon-left::before { content: ""; }
.anticon-minus-square-o::before { content: ""; }
.anticon-minus-circle::before { content: ""; }
.anticon-minus-circle-o::before { content: ""; }
.anticon-minus::before { content: ""; }
.anticon-plus-circle-o::before { content: ""; }
.anticon-plus-circle::before { content: ""; }
.anticon-plus::before { content: ""; }
.anticon-info-circle::before { content: ""; }
.anticon-info-circle-o::before { content: ""; }
.anticon-info::before { content: ""; }
.anticon-exclamation::before { content: ""; }
.anticon-exclamation-circle::before { content: ""; }
.anticon-exclamation-circle-o::before { content: ""; }
.anticon-close-circle::before, .anticon-cross-circle::before { content: ""; }
.anticon-close-circle-o::before, .anticon-cross-circle-o::before { content: ""; }
.anticon-check-circle::before { content: ""; }
.anticon-check-circle-o::before { content: ""; }
.anticon-check::before { content: ""; }
.anticon-close::before, .anticon-cross::before { content: ""; }
.anticon-customer-service::before, .anticon-customerservice::before { content: ""; }
.anticon-credit-card::before { content: ""; }
.anticon-code-o::before { content: ""; }
.anticon-book::before { content: ""; }
.anticon-bar-chart::before { content: ""; }
.anticon-bars::before { content: ""; }
.anticon-question::before { content: ""; }
.anticon-question-circle::before { content: ""; }
.anticon-question-circle-o::before { content: ""; }
.anticon-pause::before { content: ""; }
.anticon-pause-circle::before { content: ""; }
.anticon-pause-circle-o::before { content: ""; }
.anticon-clock-circle::before { content: ""; }
.anticon-clock-circle-o::before { content: ""; }
.anticon-swap::before { content: ""; }
.anticon-swap-left::before { content: ""; }
.anticon-swap-right::before { content: ""; }
.anticon-plus-square-o::before { content: ""; }
.anticon-frown-circle::before, .anticon-frown::before { content: ""; }
.anticon-ellipsis::before { content: ""; }
.anticon-copy::before { content: ""; }
.anticon-menu-fold::before { content: ""; }
.anticon-mail::before { content: ""; }
.anticon-logout::before { content: ""; }
.anticon-link::before { content: ""; }
.anticon-area-chart::before { content: ""; }
.anticon-line-chart::before { content: ""; }
.anticon-home::before { content: ""; }
.anticon-laptop::before { content: ""; }
.anticon-star::before { content: ""; }
.anticon-star-o::before { content: ""; }
.anticon-folder::before { content: ""; }
.anticon-filter::before { content: ""; }
.anticon-file::before { content: ""; }
.anticon-exception::before { content: ""; }
.anticon-meh-circle::before, .anticon-meh::before { content: ""; }
.anticon-meh-o::before { content: ""; }
.anticon-shopping-cart::before { content: ""; }
.anticon-save::before { content: ""; }
.anticon-user::before { content: ""; }
.anticon-video-camera::before { content: ""; }
.anticon-to-top::before { content: ""; }
.anticon-team::before { content: ""; }
.anticon-tablet::before { content: ""; }
.anticon-solution::before { content: ""; }
.anticon-search::before { content: ""; }
.anticon-share-alt::before { content: ""; }
.anticon-setting::before { content: ""; }
.anticon-poweroff::before { content: ""; }
.anticon-picture::before { content: ""; }
.anticon-phone::before { content: ""; }
.anticon-paper-clip::before { content: ""; }
.anticon-notification::before { content: ""; }
.anticon-mobile::before { content: ""; }
.anticon-menu-unfold::before { content: ""; }
.anticon-inbox::before { content: ""; }
.anticon-lock::before { content: ""; }
.anticon-qrcode::before { content: ""; }
.anticon-play-circle::before { content: ""; }
.anticon-play-circle-o::before { content: ""; }
.anticon-tag::before { content: ""; }
.anticon-tag-o::before { content: ""; }
.anticon-tags::before { content: ""; }
.anticon-tags-o::before { content: ""; }
.anticon-cloud-o::before { content: ""; }
.anticon-cloud::before { content: ""; }
.anticon-cloud-upload::before { content: ""; }
.anticon-cloud-download::before { content: ""; }
.anticon-cloud-download-o::before { content: ""; }
.anticon-cloud-upload-o::before { content: ""; }
.anticon-environment::before { content: ""; }
.anticon-environment-o::before { content: ""; }
.anticon-eye::before { content: ""; }
.anticon-eye-o::before { content: ""; }
.anticon-camera::before { content: ""; }
.anticon-camera-o::before { content: ""; }
.anticon-windows::before { content: ""; }
.anticon-apple::before { content: ""; }
.anticon-apple-o::before { content: ""; }
.anticon-android::before { content: ""; }
.anticon-aliwangwang::before { content: ""; }
.anticon-aliwangwang-o::before { content: ""; }
.anticon-export::before { content: ""; }
.anticon-edit::before { content: ""; }
.anticon-circle-down-o::before { content: ""; }
.anticon-circle-down-::before { content: ""; }
.anticon-appstore-o::before { content: ""; }
.anticon-appstore::before { content: ""; }
.anticon-scan::before { content: ""; }
.anticon-file-text::before { content: ""; }
.anticon-folder-open::before { content: ""; }
.anticon-hdd::before { content: ""; }
.anticon-ie::before { content: ""; }
.anticon-file-jpg::before { content: ""; }
.anticon-like::before { content: ""; }
.anticon-like-o::before { content: ""; }
.anticon-dislike::before { content: ""; }
.anticon-dislike-o::before { content: ""; }
.anticon-delete::before { content: ""; }
.anticon-enter::before { content: ""; }
.anticon-pushpin-o::before { content: ""; }
.anticon-pushpin::before { content: ""; }
.anticon-heart::before { content: ""; }
.anticon-heart-o::before { content: ""; }
.anticon-pay-circle::before { content: ""; }
.anticon-pay-circle-o::before { content: ""; }
.anticon-smile-circle::before, .anticon-smile::before { content: ""; }
.anticon-smile-o::before { content: ""; }
.anticon-frown-o::before { content: ""; }
.anticon-calculator::before { content: ""; }
.anticon-message::before { content: ""; }
.anticon-chrome::before { content: ""; }
.anticon-github::before { content: ""; }
.anticon-file-unknown::before { content: ""; }
.anticon-file-excel::before { content: ""; }
.anticon-file-ppt::before { content: ""; }
.anticon-file-word::before { content: ""; }
.anticon-file-pdf::before { content: ""; }
.anticon-desktop::before { content: ""; }
.anticon-upload::before { content: ""; }
.anticon-download::before { content: ""; }
.anticon-pie-chart::before { content: ""; }
.anticon-unlock::before { content: ""; }
.anticon-calendar::before { content: ""; }
.anticon-windows-o::before { content: ""; }
.anticon-dot-chart::before { content: ""; }
.anticon-bar-chart::before { content: ""; }
.anticon-code::before { content: ""; }
.anticon-plus-square::before { content: ""; }
.anticon-minus-square::before { content: ""; }
.anticon-close-square::before { content: ""; }
.anticon-close-square-o::before { content: ""; }
.anticon-check-square::before { content: ""; }
.anticon-check-square-o::before { content: ""; }
.anticon-fast-backward::before { content: ""; }
.anticon-fast-forward::before { content: ""; }
.anticon-up-square::before { content: ""; }
.anticon-down-square::before { content: ""; }
.anticon-left-square::before { content: ""; }
.anticon-right-square::before { content: ""; }
.anticon-right-square-o::before { content: ""; }
.anticon-left-square-o::before { content: ""; }
.anticon-down-square-o::before { content: ""; }
.anticon-up-square-o::before { content: ""; }
.anticon-loading::before { content: ""; }
.anticon-loading-3-quarters::before { content: ""; }
.anticon-bulb::before { content: ""; }
.anticon-select::before { content: ""; }
.anticon-file-add::before { content: ""; }
.anticon-folder-add::before { content: ""; }
.anticon-addfile::before { content: ""; }
.anticon-addfolder::before { content: ""; }
.anticon-switcher::before { content: ""; }
.anticon-rocket::before { content: ""; }
.anticon-dingding::before { content: ""; }
.anticon-dingding-o::before { content: ""; }
.anticon-spin::before { display: inline-block; animation: 1s linear 0s normal none infinite running loadingCircle; }
.chat h3.title { z-index: 1020; position: fixed; top: 0px; width: 100%; font-weight: 400; height: 75px; overflow: hidden; padding: 0px 20px; background: rgb(78, 151, 217) none repeat scroll 0% 0%; color: rgba(255, 255, 255, 0.95); box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); display: flex; -moz-box-align: center; align-items: center; }
.chat h3.title .chat-iframe-close { font-size: 18px; cursor: pointer; text-align: center; }
.chat h3.title .chat-iframe-close i { font-size: 24px; color: rgb(255, 255, 255); }
.chat h3.title .chat-iframe-close.active, .chat h3.title .chat-iframe-close:hover { opacity: 0.6; }
.chat h3.title .text { padding-left: 15px; -moz-box-flex: 1; flex: 1 1 0%; font-size: 16px; font-weight: 400; }
#chat-message-body .chat .chat-content::before { position: absolute; top: 10px; left: -10px; width: 0px; height: 0px; content: ""; border-width: 5px; border-style: solid; border-color: transparent rgb(243, 243, 243) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
#chat-message-body .chat.right .chat-content::before { display: none; }
#chat-message-body .chat.center .chat-content::before { display: none; }
.ant-search-input .ant-search-btn > a:only-child::after { content: ""; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background: transparent none repeat scroll 0% 0%; }
.ant-search-input .ant-search-btn:focus > a:only-child::after, .ant-search-input .ant-search-btn:hover > a:only-child::after { content: ""; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background: transparent none repeat scroll 0% 0%; }
.ant-search-input .ant-search-btn.active > a:only-child::after, .ant-search-input .ant-search-btn:active > a:only-child::after { content: ""; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background: transparent none repeat scroll 0% 0%; }
.ant-search-input .ant-search-btn.disabled.active > a:only-child::after, .ant-search-input .ant-search-btn.disabled:active > a:only-child::after, .ant-search-input .ant-search-btn.disabled:focus > a:only-child::after, .ant-search-input .ant-search-btn.disabled:hover > a:only-child::after, .ant-search-input .ant-search-btn.disabled > a:only-child::after, .ant-search-input .ant-search-btn.active[disabled] > a:only-child::after, .ant-search-input .ant-search-btn[disabled]:active > a:only-child::after, .ant-search-input .ant-search-btn[disabled]:focus > a:only-child::after, .ant-search-input .ant-search-btn[disabled]:hover > a:only-child::after, .ant-search-input .ant-search-btn[disabled] > a:only-child::after { content: ""; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background: transparent none repeat scroll 0% 0%; }
.ant-search-input.ant-search-input-focus .ant-search-btn-noempty > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty > a:only-child::after { content: ""; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background: transparent none repeat scroll 0% 0%; }
.ant-search-input.ant-search-input-focus .ant-search-btn-noempty:focus > a:only-child::after, .ant-search-input.ant-search-input-focus .ant-search-btn-noempty:hover > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty:focus > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty:hover > a:only-child::after { content: ""; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background: transparent none repeat scroll 0% 0%; }
.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.active > a:only-child::after, .ant-search-input.ant-search-input-focus .ant-search-btn-noempty:active > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty.active > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty:active > a:only-child::after { content: ""; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background: transparent none repeat scroll 0% 0%; }
.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled.active > a:only-child::after, .ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled:active > a:only-child::after, .ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled:focus > a:only-child::after, .ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled:hover > a:only-child::after, .ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled > a:only-child::after, .ant-search-input.ant-search-input-focus .ant-search-btn-noempty.active[disabled] > a:only-child::after, .ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled]:active > a:only-child::after, .ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled]:focus > a:only-child::after, .ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled]:hover > a:only-child::after, .ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled] > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty.disabled.active > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty.disabled:active > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty.disabled:focus > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty.disabled:hover > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty.disabled > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty.active[disabled] > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty[disabled]:active > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty[disabled]:focus > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty[disabled]:hover > a:only-child::after, .ant-search-input:hover .ant-search-btn-noempty[disabled] > a:only-child::after { content: ""; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background: transparent none repeat scroll 0% 0%; }
.ant-input::-moz-placeholder { color: rgb(204, 204, 204); opacity: 1; }
.ant-input-group-addon:not(:first-child):not(:last-child), .ant-input-group-wrap:not(:first-child):not(:last-child), .ant-input-group > .ant-input:not(:first-child):not(:last-child) { border-radius: 0px; }
.ant-input-group-addon > i:only-child::after { position: absolute; content: ""; top: 0px; left: 0px; right: 0px; bottom: 0px; }
.ant-input-group > .ant-input-preSuffix-wrapper:not(:first-child) .ant-input { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.ant-input-group > .ant-input-preSuffix-wrapper:not(:last-child) .ant-input { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.ant-input-group.ant-input-group-compact > .ant-calendar-picker:first-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-select:first-child > .ant-select-selection, .ant-input-group.ant-input-group-compact > :first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.ant-input-group.ant-input-group-compact > .ant-calendar-picker:last-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-select:last-child > .ant-select-selection, .ant-input-group.ant-input-group-compact > :last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-right-width: 1px; }
.ant-input-preSuffix-wrapper .ant-input:not(:first-child) { padding-left: 24px; }
.ant-input-preSuffix-wrapper .ant-input:not(:last-child) { padding-right: 24px; }
.ant-upload.ant-upload-drag.ant-upload-drag-hover:not(.ant-upload-disabled) { border: 2px dashed rgb(73, 169, 238); }
.ant-upload.ant-upload-drag:hover:not(.ant-upload-disabled) { border-color: rgb(73, 169, 238); }
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail.anticon::before, .ant-upload-list-picture .ant-upload-list-item-thumbnail.anticon::before { line-height: 48px; font-size: 24px; color: rgba(0, 0, 0, 0.43); }
.ant-upload-list-picture-card .ant-upload-list-item-info::before { content: " "; position: absolute; z-index: 1; background-color: rgba(0, 0, 0, 0.5); transition: all 0.3s ease 0s; opacity: 0; width: 100%; height: 100%; }
.ant-upload-list-picture-card .ant-upload-list-item-info:hover .anticon-delete, .ant-upload-list-picture-card .ant-upload-list-item-info:hover .anticon-eye-o, .ant-upload-list-picture-card .ant-upload-list-item-info:hover::before { opacity: 1; }
.ant-upload-list-picture-card .ant-upload-list-item-uploading .ant-upload-list-item-info .anticon-delete, .ant-upload-list-picture-card .ant-upload-list-item-uploading .ant-upload-list-item-info .anticon-eye-o, .ant-upload-list-picture-card .ant-upload-list-item-uploading .ant-upload-list-item-info::before { display: none; }
.ant-progress-status-active .ant-progress-bg::before { content: ""; opacity: 0; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 10px; animation: 2.4s cubic-bezier(0.23, 1, 0.32, 1) 0s normal none infinite running ant-progress-active; }
@font-face {
	font-family: "iconfont";
	src: url('font_327563_dlqmlutotzi.eot') format("embedded-opentype"), url('font_327563_dlqmlutotzi.woff') format("woff"), url('font_327563_dlqmlutotzi.ttf') format("truetype"), url('font_327563_dlqmlutotzi.svg') format("svg");
}
.iconfont { font-family: iconfont !important; font-size: 16px; font-style: normal; }
.icon-icon::before { content: ""; }
.icon-close::before { content: ""; }
.icon-pic::before { content: ""; }
.icon-smile::before { content: ""; }
.icon-attachment::before { content: ""; }
.icon-chat::before { content: ""; }
.icon-icondownload::before { content: ""; }
.icon-look::before { content: ""; }
.icon-zan::before { content: ""; }
.icon-haoping::before { content: ""; }
.icon-zhongping::before { content: ""; }
.icon-chaping::before { content: ""; }
.icon-folder::before { content: ""; }
.icon-send::before { content: ""; }
.icon-arrow-right::before { content: ""; }
.icon-back::before { content: ""; }
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }
html { box-sizing: border-box; }
*, *::after, *::before { box-sizing: inherit; }
html { background-color: rgb(255, 255, 255); font-size: 16px; min-width: 300px; overflow-x: hidden; overflow-y: scroll; text-rendering: optimizelegibility; }
body, button, input, select, textarea { font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif; }
body { color: rgb(74, 74, 74); font-size: 1rem; font-weight: 400; line-height: 1.5; }
.is-clearfix::after { clear: both; content: " "; display: table; }
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1216px) {
}
@media screen and (min-width: 1408px) {
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
}
@media screen and (min-width: 1216px) {
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
}
@media screen and (min-width: 1408px) {
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
}
@media screen and (min-width: 1216px) {
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
}
@media screen and (min-width: 1408px) {
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
}
@media screen and (min-width: 1216px) {
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
}
@media screen and (min-width: 1408px) {
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
}
@media screen and (min-width: 1216px) {
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
}
@media screen and (min-width: 1408px) {
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
}
@media screen and (min-width: 1216px) {
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
}
@media screen and (min-width: 1408px) {
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
}
@media screen and (min-width: 1216px) {
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
}
@media screen and (min-width: 1408px) {
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
}
@media screen and (min-width: 1216px) {
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
}
@media screen and (min-width: 1408px) {
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
}
@media screen and (min-width: 1216px) {
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
}
@media screen and (min-width: 1408px) {
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
}
@media screen and (min-width: 1216px) {
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
}
@media screen and (min-width: 1408px) {
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
}
@media screen and (min-width: 1216px) {
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
}
@media screen and (min-width: 1408px) {
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
}
@media screen and (min-width: 1216px) {
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
}
@media screen and (min-width: 1408px) {
}
.box:not(:last-child) { margin-bottom: 1.5rem; }
.button .icon:first-child:not(:last-child) { margin-left: calc(-0.375em - 1px); margin-right: 0.1875em; }
.button .icon:last-child:not(:first-child) { margin-left: 0.1875em; margin-right: calc(-0.375em - 1px); }
.button.is-focused:not(:active), .button:focus:not(:active) { box-shadow: 0px 0px 0px 0.125em rgba(50, 115, 220, 0.25); }
.button.is-white.is-focused:not(:active), .button.is-white:focus:not(:active) { box-shadow: 0px 0px 0px 0.125em rgba(255, 255, 255, 0.25); }
.button.is-white.is-loading::after { border-color: transparent transparent rgb(10, 10, 10) rgb(10, 10, 10) !important; }
.button.is-white.is-outlined.is-loading::after { border-color: transparent transparent rgb(255, 255, 255) rgb(255, 255, 255) !important; }
.button.is-black.is-focused:not(:active), .button.is-black:focus:not(:active) { box-shadow: 0px 0px 0px 0.125em rgba(10, 10, 10, 0.25); }
.button.is-black.is-loading::after { border-color: transparent transparent rgb(255, 255, 255) rgb(255, 255, 255) !important; }
.button.is-black.is-outlined.is-loading::after { border-color: transparent transparent rgb(10, 10, 10) rgb(10, 10, 10) !important; }
.button.is-light.is-focused:not(:active), .button.is-light:focus:not(:active) { box-shadow: 0px 0px 0px 0.125em rgba(245, 245, 245, 0.25); }
.button.is-light.is-loading::after { border-color: transparent transparent rgb(54, 54, 54) rgb(54, 54, 54) !important; }
.button.is-light.is-outlined.is-loading::after { border-color: transparent transparent rgb(245, 245, 245) rgb(245, 245, 245) !important; }
.button.is-dark.is-focused:not(:active), .button.is-dark:focus:not(:active) { box-shadow: 0px 0px 0px 0.125em rgba(54, 54, 54, 0.25); }
.button.is-dark.is-loading::after { border-color: transparent transparent rgb(245, 245, 245) rgb(245, 245, 245) !important; }
.button.is-dark.is-outlined.is-loading::after { border-color: transparent transparent rgb(54, 54, 54) rgb(54, 54, 54) !important; }
.button.is-primary.is-focused:not(:active), .button.is-primary:focus:not(:active) { box-shadow: 0px 0px 0px 0.125em rgba(0, 209, 178, 0.25); }
.button.is-primary.is-loading::after { border-color: transparent transparent rgb(255, 255, 255) rgb(255, 255, 255) !important; }
.button.is-primary.is-outlined.is-loading::after { border-color: transparent transparent rgb(0, 209, 178) rgb(0, 209, 178) !important; }
.button.is-link.is-focused:not(:active), .button.is-link:focus:not(:active) { box-shadow: 0px 0px 0px 0.125em rgba(50, 115, 220, 0.25); }
.button.is-link.is-loading::after { border-color: transparent transparent rgb(255, 255, 255) rgb(255, 255, 255) !important; }
.button.is-link.is-outlined.is-loading::after { border-color: transparent transparent rgb(50, 115, 220) rgb(50, 115, 220) !important; }
.button.is-info.is-focused:not(:active), .button.is-info:focus:not(:active) { box-shadow: 0px 0px 0px 0.125em rgba(32, 156, 238, 0.25); }
.button.is-info.is-loading::after { border-color: transparent transparent rgb(255, 255, 255) rgb(255, 255, 255) !important; }
.button.is-info.is-outlined.is-loading::after { border-color: transparent transparent rgb(32, 156, 238) rgb(32, 156, 238) !important; }
.button.is-success.is-focused:not(:active), .button.is-success:focus:not(:active) { box-shadow: 0px 0px 0px 0.125em rgba(35, 209, 96, 0.25); }
.button.is-success.is-loading::after { border-color: transparent transparent rgb(255, 255, 255) rgb(255, 255, 255) !important; }
.button.is-success.is-outlined.is-loading::after { border-color: transparent transparent rgb(35, 209, 96) rgb(35, 209, 96) !important; }
.button.is-warning.is-focused:not(:active), .button.is-warning:focus:not(:active) { box-shadow: 0px 0px 0px 0.125em rgba(255, 221, 87, 0.25); }
.button.is-warning.is-loading::after { border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7) !important; }
.button.is-warning.is-outlined.is-loading::after { border-color: transparent transparent rgb(255, 221, 87) rgb(255, 221, 87) !important; }
.button.is-danger.is-focused:not(:active), .button.is-danger:focus:not(:active) { box-shadow: 0px 0px 0px 0.125em rgba(255, 56, 96, 0.25); }
.button.is-danger.is-loading::after { border-color: transparent transparent rgb(255, 255, 255) rgb(255, 255, 255) !important; }
.button.is-danger.is-outlined.is-loading::after { border-color: transparent transparent rgb(255, 56, 96) rgb(255, 56, 96) !important; }
.button.is-loading::after { animation: 0.5s linear 0s normal none infinite running spinAround; border-width: 2px; border-style: solid; border-color: transparent transparent rgb(219, 219, 219) rgb(219, 219, 219); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 290486px; content: ""; display: block; height: 1em; width: 1em; left: calc(50% - 0.5em); top: calc(50% - 0.5em); position: absolute !important; }
.buttons .button:not(:last-child) { margin-right: 0.5rem; }
.buttons:not(:last-child) { margin-bottom: 1rem; }
.buttons.has-addons .button:not(:first-child) { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.buttons.has-addons .button:not(:last-child) { border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-right: -1px; }
@media screen and (min-width: 1024px) {
}
@media screen and (max-width: 1215px) {
}
@media screen and (max-width: 1407px) {
}
@media screen and (min-width: 1216px) {
}
@media screen and (min-width: 1408px) {
}
.content:not(:last-child) { margin-bottom: 1.5rem; }
.content blockquote:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content p:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child), .content ul:not(:last-child) { margin-bottom: 1em; }
.content h1:not(:first-child) { margin-top: 1em; }
.content h2:not(:first-child) { margin-top: 1.1428em; }
.content h3:not(:first-child) { margin-top: 1.3333em; }
.content figure:not(:first-child) { margin-top: 2em; }
.content figure:not(:last-child) { margin-bottom: 2em; }
.input::-moz-placeholder, .textarea::-moz-placeholder { color: rgba(54, 54, 54, 0.3); }
.input[disabled]::-moz-placeholder, .textarea[disabled]::-moz-placeholder { color: rgba(122, 122, 122, 0.3); }
.textarea:not([rows]) { max-height: 600px; min-height: 120px; }
.select:not(.is-multiple) { height: 2.25em; }
.select:not(.is-multiple)::after { border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentcolor currentcolor rgb(50, 115, 220) rgb(50, 115, 220); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; content: " "; display: block; height: 0.5em; pointer-events: none; position: absolute; transform: rotate(-45deg); transform-origin: center center 0px; width: 0.5em; margin-top: -0.375em; right: 1.125em; top: 50%; z-index: 4; }
.select select::-moz-placeholder { color: rgba(54, 54, 54, 0.3); }
.select select[disabled]::-moz-placeholder { color: rgba(122, 122, 122, 0.3); }
.select select:not([multiple]) { padding-right: 2.5em; }
.select:hover::after { border-color: rgb(54, 54, 54); }
.select.is-disabled::after { border-color: rgb(122, 122, 122); }
.select.is-loading::after { animation: 0.5s linear 0s normal none infinite running spinAround; border-width: 2px; border-style: solid; border-color: transparent transparent rgb(219, 219, 219) rgb(219, 219, 219); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 290486px; content: ""; display: block; height: 1em; width: 1em; margin-top: 0px; position: absolute; right: 0.625em; top: 0.625em; transform: none; }
.select.is-loading.is-small::after { font-size: 0.75rem; }
.select.is-loading.is-medium::after { font-size: 1.25rem; }
.select.is-loading.is-large::after { font-size: 1.5rem; }
.label:not(:last-child) { margin-bottom: 0.5em; }
.field:not(:last-child) { margin-bottom: 0.75rem; }
.field.has-addons .control:not(:last-child) { margin-right: -1px; }
.field.is-grouped > .control:not(:last-child) { margin-bottom: 0px; margin-right: 0.75rem; }
.field.is-grouped.is-grouped-multiline > .control:last-child, .field.is-grouped.is-grouped-multiline > .control:not(:last-child) { margin-bottom: 0.75rem; }
.field.is-grouped.is-grouped-multiline:not(:last-child) { margin-bottom: 0px; }
@media print, screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media print, screen and (min-width: 769px) {
	.field-body > .field:not(.is-narrow) { -moz-box-flex: 1; flex-grow: 1; }
	.field-body > .field:not(:last-child) { margin-right: 0.75rem; }
}
.control.has-icon:not(.has-icon-right) .icon { left: 0px; }
.control.has-icon:not(.has-icon-right) .input { padding-left: 2.25em; }
.control.is-loading::after { animation: 0.5s linear 0s normal none infinite running spinAround; border-width: 2px; border-style: solid; border-color: transparent transparent rgb(219, 219, 219) rgb(219, 219, 219); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 290486px; content: ""; display: block; height: 1em; width: 1em; position: absolute !important; right: 0.625em; top: 0.625em; }
.control.is-loading.is-small::after { font-size: 0.75rem; }
.control.is-loading.is-medium::after { font-size: 1.25rem; }
.control.is-loading.is-large::after { font-size: 1.5rem; }
.icon { -moz-box-align: center; align-items: center; display: inline-flex; -moz-box-pack: center; justify-content: center; height: 1.5rem; width: 1.5rem; }
.notification:not(:last-child) { margin-bottom: 1.5rem; }
.notification a:not(.button) { color: currentcolor; text-decoration: underline; }
.progress:not(:last-child) { margin-bottom: 1.5rem; }
.progress::-moz-progress-bar { background-color: rgb(74, 74, 74); }
.progress.is-white::-moz-progress-bar { background-color: rgb(255, 255, 255); }
.progress.is-black::-moz-progress-bar { background-color: rgb(10, 10, 10); }
.progress.is-light::-moz-progress-bar { background-color: rgb(245, 245, 245); }
.progress.is-dark::-moz-progress-bar { background-color: rgb(54, 54, 54); }
.progress.is-primary::-moz-progress-bar { background-color: rgb(0, 209, 178); }
.progress.is-link::-moz-progress-bar { background-color: rgb(50, 115, 220); }
.progress.is-info::-moz-progress-bar { background-color: rgb(32, 156, 238); }
.progress.is-success::-moz-progress-bar { background-color: rgb(35, 209, 96); }
.progress.is-warning::-moz-progress-bar { background-color: rgb(255, 221, 87); }
.progress.is-danger::-moz-progress-bar { background-color: rgb(255, 56, 96); }
.table.is-hoverable tbody tr:hover:not(.is-selected) { background-color: rgb(250, 250, 250); }
.table.is-hoverable.is-striped tbody tr:hover:not(.is-selected) { background-color: rgb(245, 245, 245); }
.table.is-striped tbody tr:nth-child(2n):not(.is-selected) { background-color: rgb(250, 250, 250); }
.tags .tag:not(:last-child) { margin-right: 0.5rem; }
.tags:not(:last-child) { margin-bottom: 1rem; }
.tags.has-addons .tag:not(:first-child) { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.tags.has-addons .tag:not(:last-child) { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.tags.is-right .tag:not(:first-child) { margin-left: 0.5rem; }
.tags.is-right .tag:not(:last-child) { margin-right: 0px; }
.tag:not(body) { -moz-box-align: center; align-items: center; background-color: rgb(245, 245, 245); border-radius: 3px; color: rgb(74, 74, 74); display: inline-flex; font-size: 0.75rem; height: 2em; -moz-box-pack: center; justify-content: center; line-height: 1.5; padding-left: 0.75em; padding-right: 0.75em; white-space: nowrap; }
.tag:not(body) .delete { margin-left: 0.25em; margin-right: -0.375em; }
.tag.is-white:not(body) { background-color: rgb(255, 255, 255); color: rgb(10, 10, 10); }
.tag.is-black:not(body) { background-color: rgb(10, 10, 10); color: rgb(255, 255, 255); }
.tag.is-light:not(body) { background-color: rgb(245, 245, 245); color: rgb(54, 54, 54); }
.tag.is-dark:not(body) { background-color: rgb(54, 54, 54); color: rgb(245, 245, 245); }
.tag.is-primary:not(body) { background-color: rgb(0, 209, 178); color: rgb(255, 255, 255); }
.tag.is-link:not(body) { background-color: rgb(50, 115, 220); color: rgb(255, 255, 255); }
.tag.is-info:not(body) { background-color: rgb(32, 156, 238); color: rgb(255, 255, 255); }
.tag.is-success:not(body) { background-color: rgb(35, 209, 96); color: rgb(255, 255, 255); }
.tag.is-warning:not(body) { background-color: rgb(255, 221, 87); color: rgba(0, 0, 0, 0.7); }
.tag.is-danger:not(body) { background-color: rgb(255, 56, 96); color: rgb(255, 255, 255); }
.tag.is-medium:not(body) { font-size: 1rem; }
.tag.is-large:not(body) { font-size: 1.25rem; }
.tag:not(body) .icon:first-child:not(:last-child) { margin-left: -0.375em; margin-right: 0.1875em; }
.tag:not(body) .icon:last-child:not(:first-child) { margin-left: 0.1875em; margin-right: -0.375em; }
.tag:not(body) .icon:first-child:last-child { margin-left: -0.375em; margin-right: -0.375em; }
.tag.is-delete:not(body) { margin-left: 1px; padding: 0px; position: relative; width: 2em; }
.tag.is-delete:not(body)::after, .tag.is-delete:not(body)::before { background-color: currentcolor; content: ""; display: block; left: 50%; position: absolute; top: 50%; transform: translateX(-50%) translateY(-50%) rotate(45deg); transform-origin: center center 0px; }
.tag.is-delete:not(body)::before { height: 1px; width: 50%; }
.tag.is-delete:not(body)::after { height: 50%; width: 1px; }
.tag.is-delete:focus:not(body), .tag.is-delete:hover:not(body) { background-color: rgb(232, 232, 232); }
.tag.is-delete:active:not(body) { background-color: rgb(219, 219, 219); }
.tag.is-rounded:not(body) { border-radius: 290486px; }
.subtitle, .title {  }
.subtitle:not(:last-child), .title:not(:last-child) { margin-bottom: 1.5rem; }
.title { color: rgb(54, 54, 54); font-size: 2rem; font-weight: 600; line-height: 1.125; }
.title:not(.is-spaced) + .subtitle { margin-top: -1.5rem; }
.subtitle:not(.is-spaced) + .title { margin-top: -1.5rem; }
.block:not(:last-child) { margin-bottom: 1.5rem; }
.delete::after, .delete::before { background-color: rgb(255, 255, 255); content: ""; display: block; left: 50%; position: absolute; top: 50%; transform: translateX(-50%) translateY(-50%) rotate(45deg); transform-origin: center center 0px; }
.delete::before { height: 2px; width: 50%; }
.delete::after { height: 50%; width: 2px; }
.highlight:not(:last-child) { margin-bottom: 1.5rem; }
.loader { animation: 0.5s linear 0s normal none infinite running spinAround; border-width: 2px; border-style: solid; border-color: transparent transparent rgb(219, 219, 219) rgb(219, 219, 219); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 290486px; content: ""; display: block; height: 1em; position: relative; width: 1em; }
.breadcrumb:not(:last-child) { margin-bottom: 1.5rem; }
.breadcrumb li + li::before { color: rgb(74, 74, 74); content: "/"; }
.breadcrumb.has-arrow-separator li + li::before { content: "→"; }
.breadcrumb.has-bullet-separator li + li::before { content: "•"; }
.breadcrumb.has-dot-separator li + li::before { content: "·"; }
.breadcrumb.has-succeeds-separator li + li::before { content: "≻"; }
.card-footer-item:not(:last-child) { border-right: 1px solid rgb(219, 219, 219); }
.card .media:not(:last-child) { margin-bottom: 0.75rem; }
.level:not(:last-child) { margin-bottom: 1.5rem; }
.level.is-mobile .level-item:not(:last-child) { margin-bottom: 0px; }
.level.is-mobile .level-item:not(.is-narrow) { -moz-box-flex: 1; flex-grow: 1; }
@media print, screen and (min-width: 769px) {
	.level > .level-item:not(.is-narrow) { -moz-box-flex: 1; flex-grow: 1; }
}
@media screen and (max-width: 768px) {
	.level-item:not(:last-child) { margin-bottom: 0.75rem; }
}
@media print, screen and (min-width: 769px) {
	.level-left .level-item:not(:last-child), .level-right .level-item:not(:last-child) { margin-right: 0.75rem; }
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media print, screen and (min-width: 769px) {
}
.media .content:not(:last-child) { margin-bottom: 0.75rem; }
.media .media .content:not(:last-child), .media .media .control:not(:last-child) { margin-bottom: 0.5rem; }
.menu-label:not(:first-child) { margin-top: 1em; }
.menu-label:not(:last-child) { margin-bottom: 1em; }
.message:not(:last-child) { margin-bottom: 1.5rem; }
.message a:not(.button):not(.tag) { color: currentcolor; text-decoration: underline; }
@media print, screen and (min-width: 769px) {
}
.modal-close::after, .modal-close::before { background-color: rgb(255, 255, 255); content: ""; display: block; left: 50%; position: absolute; top: 50%; transform: translateX(-50%) translateY(-50%) rotate(45deg); transform-origin: center center 0px; }
.modal-close::before { height: 2px; width: 50%; }
.modal-close::after { height: 50%; width: 2px; }
.modal-card-foot .button:not(:last-child) { margin-right: 10px; }
.navbar.is-white .navbar-brand .navbar-link::after { border-color: rgb(10, 10, 10); }
@media screen and (min-width: 1024px) {
	.navbar.is-white .navbar-end .navbar-link::after, .navbar.is-white .navbar-start .navbar-link::after { border-color: rgb(10, 10, 10); }
}
.navbar.is-black .navbar-brand .navbar-link::after { border-color: rgb(255, 255, 255); }
@media screen and (min-width: 1024px) {
	.navbar.is-black .navbar-end .navbar-link::after, .navbar.is-black .navbar-start .navbar-link::after { border-color: rgb(255, 255, 255); }
}
.navbar.is-light .navbar-brand .navbar-link::after { border-color: rgb(54, 54, 54); }
@media screen and (min-width: 1024px) {
	.navbar.is-light .navbar-end .navbar-link::after, .navbar.is-light .navbar-start .navbar-link::after { border-color: rgb(54, 54, 54); }
}
.navbar.is-dark .navbar-brand .navbar-link::after { border-color: rgb(245, 245, 245); }
@media screen and (min-width: 1024px) {
	.navbar.is-dark .navbar-end .navbar-link::after, .navbar.is-dark .navbar-start .navbar-link::after { border-color: rgb(245, 245, 245); }
}
.navbar.is-primary .navbar-brand .navbar-link::after { border-color: rgb(255, 255, 255); }
@media screen and (min-width: 1024px) {
	.navbar.is-primary .navbar-end .navbar-link::after, .navbar.is-primary .navbar-start .navbar-link::after { border-color: rgb(255, 255, 255); }
}
.navbar.is-link .navbar-brand .navbar-link::after { border-color: rgb(255, 255, 255); }
@media screen and (min-width: 1024px) {
	.navbar.is-link .navbar-end .navbar-link::after, .navbar.is-link .navbar-start .navbar-link::after { border-color: rgb(255, 255, 255); }
}
.navbar.is-info .navbar-brand .navbar-link::after { border-color: rgb(255, 255, 255); }
@media screen and (min-width: 1024px) {
	.navbar.is-info .navbar-end .navbar-link::after, .navbar.is-info .navbar-start .navbar-link::after { border-color: rgb(255, 255, 255); }
}
.navbar.is-success .navbar-brand .navbar-link::after { border-color: rgb(255, 255, 255); }
@media screen and (min-width: 1024px) {
	.navbar.is-success .navbar-end .navbar-link::after, .navbar.is-success .navbar-start .navbar-link::after { border-color: rgb(255, 255, 255); }
}
.navbar.is-warning .navbar-brand .navbar-link::after { border-color: rgba(0, 0, 0, 0.7); }
@media screen and (min-width: 1024px) {
	.navbar.is-warning .navbar-end .navbar-link::after, .navbar.is-warning .navbar-start .navbar-link::after { border-color: rgba(0, 0, 0, 0.7); }
}
.navbar.is-danger .navbar-brand .navbar-link::after { border-color: rgb(255, 255, 255); }
@media screen and (min-width: 1024px) {
	.navbar.is-danger .navbar-end .navbar-link::after, .navbar.is-danger .navbar-start .navbar-link::after { border-color: rgb(255, 255, 255); }
}
.navbar-burger span:nth-child(2) { top: calc(50% - 1px); }
.navbar-burger span:nth-child(3) { top: calc(50% + 4px); }
.navbar-burger.is-active span:nth-child(2) { opacity: 0; }
.navbar-burger.is-active span:nth-child(3) { transform: translateY(-5px) rotate(-45deg); }
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
	.navbar-item.has-dropdown-up .navbar-link::after { transform: rotate(135deg) translate(0.25em, -0.25em); }
	.navbar-link::after { border-width: 0px 0px 1px 1px; border-style: none none solid solid; border-color: currentcolor currentcolor rgb(50, 115, 220) rgb(50, 115, 220); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; content: " "; display: block; height: 0.5em; pointer-events: none; position: absolute; transform: rotate(-45deg); transform-origin: center center 0px; width: 0.5em; margin-top: -0.375em; right: 1.125em; top: 50%; }
	a.navbar-item.is-active:not(:hover), a.navbar-link.is-active:not(:hover) { background-color: transparent; }
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
.panel:not(:last-child) { margin-bottom: 1.5rem; }
.tabs:not(:last-child) { margin-bottom: 1.5rem; }
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1216px) {
}
@media screen and (min-width: 1408px) {
}
.columns:not(:last-child) { margin-bottom: 0.75rem; }
.columns.is-gapless:not(:last-child) { margin-bottom: 1.5rem; }
@media print, screen and (min-width: 769px) {
	.columns:not(.is-desktop) { display: flex; }
}
@media screen and (min-width: 1024px) {
}
.tile.is-ancestor:not(:last-child) { margin-bottom: 0.75rem; }
.tile.is-vertical > .tile.is-child:not(:last-child) { margin-bottom: 1.5rem !important; }
@media print, screen and (min-width: 769px) {
	.tile:not(.is-child) { display: flex; }
}
.hero.is-white a:not(.button), .hero.is-white strong { color: inherit; }
.hero.is-white .subtitle a:not(.button), .hero.is-white .subtitle strong { color: rgb(10, 10, 10); }
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 768px) {
}
.hero.is-black a:not(.button), .hero.is-black strong { color: inherit; }
.hero.is-black .subtitle a:not(.button), .hero.is-black .subtitle strong { color: rgb(255, 255, 255); }
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 768px) {
}
.hero.is-light a:not(.button), .hero.is-light strong { color: inherit; }
.hero.is-light .subtitle a:not(.button), .hero.is-light .subtitle strong { color: rgb(54, 54, 54); }
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 768px) {
}
.hero.is-dark a:not(.button), .hero.is-dark strong { color: inherit; }
.hero.is-dark .subtitle a:not(.button), .hero.is-dark .subtitle strong { color: rgb(245, 245, 245); }
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 768px) {
}
.hero.is-primary a:not(.button), .hero.is-primary strong { color: inherit; }
.hero.is-primary .subtitle a:not(.button), .hero.is-primary .subtitle strong { color: rgb(255, 255, 255); }
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 768px) {
}
.hero.is-link a:not(.button), .hero.is-link strong { color: inherit; }
.hero.is-link .subtitle a:not(.button), .hero.is-link .subtitle strong { color: rgb(255, 255, 255); }
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 768px) {
}
.hero.is-info a:not(.button), .hero.is-info strong { color: inherit; }
.hero.is-info .subtitle a:not(.button), .hero.is-info .subtitle strong { color: rgb(255, 255, 255); }
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 768px) {
}
.hero.is-success a:not(.button), .hero.is-success strong { color: inherit; }
.hero.is-success .subtitle a:not(.button), .hero.is-success .subtitle strong { color: rgb(255, 255, 255); }
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 768px) {
}
.hero.is-warning a:not(.button), .hero.is-warning strong { color: inherit; }
.hero.is-warning .subtitle a:not(.button), .hero.is-warning .subtitle strong { color: rgba(0, 0, 0, 0.7); }
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 768px) {
}
.hero.is-danger a:not(.button), .hero.is-danger strong { color: inherit; }
.hero.is-danger .subtitle a:not(.button), .hero.is-danger .subtitle strong { color: rgb(255, 255, 255); }
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 768px) {
}
@media print, screen and (min-width: 769px) {
}
@media print, screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 768px) {
	.hero-buttons .button:not(:last-child) { margin-bottom: 0.75rem; }
}
@media print, screen and (min-width: 769px) {
	.hero-buttons .button:not(:last-child) { margin-right: 1.5rem; }
}
@media screen and (min-width: 1024px) {
}
body, html { background-color: transparent; overflow: hidden; width: 100%; height: 100%; text-rendering: optimizelegibility; }
body, button, html, input, select, textarea { font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Microsoft YaHei,Arial,sans-serif !important; }
#aihecong { height: 100%; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; overflow: hidden; }
.chat.mobile .chat-send .chat-tool i.icon-send::before { position: relative; left: 2px; }
.chat { height: 100%; -moz-box-flex: 1; flex: 1 1 0%; }
.chat h3.title { margin-bottom: 0px; }
.chat h3.title .chat-iframe-close { top: 14px; }
.chat h3.title .chat-iframe-close i { font-size: 24px; }
.laodingbox { height: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.loader-circle { width: 0.8em; height: 0.8em; border-width: 0.08em; border-style: solid; border-color: rgba(163, 175, 183, 0.5) rgba(163, 175, 183, 0.5) rgba(163, 175, 183, 0.5) rgb(163, 175, 183); border-radius: 50%; animation: 1.1s linear 0s normal none infinite running loader-circle; }
.vertical-align::before { display: inline-block; height: 100%; content: ""; vertical-align: middle; }
.vertical-align-middle { vertical-align: middle; display: inline-block; max-width: 100%; }
.loader { position: relative; display: inline-block; margin: 0px auto; font-size: 40px; text-indent: -9999em; transform: translateZ(0px); }
