/* ::::: http://frv1.csbcy.cn/frv1_csbcy_cn/index.css ::::: */

* { margin: 0px; }
html, body, #page { height: 100%; padding: 0px; margin: 0px; font-family: 微软雅黑; }
body { background: rgb(133, 109, 53) none repeat scroll 0% 0%; margin: 0px; padding: 0px; font-family: Helvetica,Arial,san-serif; font-size: 16px; }
a, a:visited { text-decoration: none; }
ul, ol, li { list-style: outside none none; }
*, *::after, *::before { box-sizing: border-box; }
html, body, header, nav, footer, article, section, form, fieldset, p, div, ul, ol, li, h1, h2, h3, h4, h5, h6 { -moz-text-size-adjust: none; }
section, article, #container, #content { text-shadow: 0px 1px 0px rgb(255, 255, 255); }
#page { margin: 0px auto; padding: 0px 0px 50px; width: 100%; height: auto; min-height: 100%; background: rgb(249, 249, 249) none repeat scroll 0% 0%; }
header { margin: 0px auto; padding: 0px; width: 100%; text-align: center; line-height: 40px; height: 60px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); white-space: nowrap; overflow: hidden; border-top: 1px solid rgb(51, 51, 51); }
header h1 { width: 100%; margin: 0px auto; font-size: 2em; text-align: center; padding: 7px; }
.banner { margin: 0px; padding: 0px; text-align: center; width: 100%; height: auto; animation: 0.6s ease 0.2s normal both 1 running fadeIn; }
.banner img { border: 0px none; width: auto; max-width: 100%; float: left; margin: 0px auto; padding: 0px; }
.banner p { width: 100%; height: 60px; line-height: 60px; font-size: 26px; color: rgb(255, 255, 255); font-weight: bold; text-shadow: 1px 1px 0px rgb(0, 0, 0); }
nav { margin: 0px auto; padding: 0px; width: 100%; position: fixed; left: 0px; bottom: 0px; animation: 1s ease 0.2s normal both 1 running fadeInUpBig; }
nav ul { margin: 0px auto; padding: 0px; height: 45px; width: 100%; background: rgb(238, 51, 0) none repeat scroll 0% 0%; overflow: hidden; }
nav ul li { width: 33.3%; float: left; text-align: center; }
nav ul li a { display: block; line-height: 45px; width: 100%; color: rgb(255, 255, 255); font-size: 0.8em; }
nav ul li a strong { display: block; position: relative; top: 10px; left: 0px; font-weight: normal; }
nav ul.Transverse { position: relative; }
nav ul.Transverse li a { border-right: 1px dotted rgb(255, 102, 102); }
nav ul.Transverse li:last-child a { border-right: 0px none; }
nav ul.Transverse li a strong { display: inline; position: inherit; font-weight: normal; padding-left: 32px; line-height: 45px; font-size: 14px; }
nav ul.Transverse li:nth-child(1) a strong { background: transparent url('home.png') no-repeat scroll left center / 28px 28px; }
nav ul.Transverse li:nth-child(2) a strong { background: transparent url('call.png') no-repeat scroll left center / 28px 28px; }
nav ul.Transverse li:nth-child(3) a strong { background: transparent url('sms.png') no-repeat scroll left center / 28px 28px; }
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 320px) {
}
article.showcontent { margin: 0px; padding: 0px; width: 100%; height: auto; overflow: hidden; }
article.showcontent h2, .banner h2, article h2 { background: rgb(238, 233, 230) none repeat scroll 0% 0%; color: rgb(108, 89, 77); font-size: 18px; line-height: 30px; padding: 0px 10px; margin: 0px; width: 100%; clear: both; text-align: left; }
article.showcontent h2::before, .banner h2::before, article h2::before { content: "▼"; color: rgb(148, 129, 87); }
footer { margin: 0px auto; padding: 0px; width: 100%; clear: both; border-top: 1px solid rgb(221, 221, 221); }
footer p { text-align: center; font-size: 0.8em; border-top: 1px solid rgb(255, 255, 255); padding-top: 5px; }
@media only screen and (max-width: 480px) {
}
article { width: 100%; margin: 0px auto; padding: 0px; line-height: 24px; font-size: 1em; animation: 0.3s linear 0.2s normal both 1 running bounceInkeep; }
img { border: 0px none; vertical-align: middle; }
:-moz-placeholder { color: rgb(136, 136, 136); }
*::-moz-placeholder { color: rgb(136, 136, 136); }
body { background: black none repeat scroll 0% 0%; }
#page { max-width: 750px; }
